[2019-02-19 23:53] markphelps opened #2 "Increase test coverage to > 80%"
Increase aggregate test coverage to > 80%

[2019-02-19 23:55] markphelps opened #3 "Add server side caching layer for evaluation"
Add caching layer on the server side to increase evaluation speed.

Should probably be an LRU cache, perhaps something like [Groupcache LRU](https://github.com/golang/groupcache/tree/master/lru)

Should be able to be disabled and maybe swappable for other implementations in the future

[2019-02-20 15:43] u5surf commented on #2
@markphelps
I would like to try this issue.
At fast, coverage is lesser than 70% would be increased.

wip:
server/flag_test.go
server/rule_test.go
server/flag_test.go

[2019-02-20 16:08] markphelps commented on #2
Awesome! I appreciate the help @u5surf !

[2019-02-24 14:33] markphelps commented on #2
Hey @u5surf , I noticed your build seems to be failing on Travis because of the import paths not matching the expected: `github.com/markphelps/flipt`. I think it's because you forked the repo and cloned to your own path.

You may want to checkout https://medium.com/@sasom/how-to-fork-go-packages-f863e370bbb6

Hope that helps!

[2019-02-24 14:35] markphelps opened #4 "Add Heroku button"
Add a Heroku button to allow for someone to easily standup an example app in Heroku:

https://devcenter.heroku.com/articles/heroku-button

[2019-02-24 14:43] markphelps commented on #4
After second look, it doesnt seem possible since we want to pull a docker image (markphelps/flipt:latest) instead of build one and push to Heroku's own registry :(

[2019-02-24 14:43] #4 closed

[2019-02-24 14:48] markphelps opened #5 "Add Integration Tests"
Figure out a way to test Flipt from outside.

Possible options:

* Run `flipt` in a separate process and test using the GRPC and/or REST APIs
* Run `flipt` in a separate process and test via the UI using headless chrome?
* ?

[2019-02-24 22:07] #3 closed

[2019-02-24 23:24] markphelps opened #8 "New logo"
Would like a better logo and favicon but I'm not good at design ☹️

Something that represents feature flagging? flags? toggles?

[2019-02-25 01:16] u5surf commented on #2
@markphelps
I added https://docs.travis-ci.com/user/languages/go/#go-import-path, then travis build was done.

[2019-02-28 01:21] markphelps commented on #2
Awesome, feel free to submit a PR and I can help with any merge conflicts. Sorry I renamed some things :(

[2019-03-01 03:12] #2 closed

[2019-03-06 04:58] mirzazulfan commented on #8
Hi @markphelps What about this ? If you need to change please let me know.
![flipt](https://user-images.githubusercontent.com/36124339/53856967-025b5700-4007-11e9-9310-abdf020c06b2.png)

[2019-03-06 13:26] markphelps commented on #8
@mirzazulfan I love it! Thank you soo much!

One suggestion I have is what about simplifying the bottom arm of the `f`, perhaps something like:

![flipt](https://user-images.githubusercontent.com/209477/53884340-640cc880-3fe9-11e9-91e2-d807faf0a322.png)

Forgive my horrible edit. Maybe also moving the bottom arm of the `f` up a bit? I couldnt manage to do that in Sketch (still learning).

What are

[2019-03-06 13:37] mirzazulfan commented on #8
Thanks for your response, im glad you liked it. Before I edit it, I will research it on the internet so that it is not the same as other people's designs. Best regard.

[2019-03-06 14:31] markphelps commented on #8
Totally. Makes sense. Don't want it to look too similar to the Facebook f for sure haha.

One final set of ideas I had around the `F`, which are closer to your original designs I think are something like these maybe?

![img_0803](https://user-images.githubusercontent.com/209477/53888450-8ce58b80-3ff2-11e9-9f1f-297b0e34a643.jpg)

[2019-03-18 10:26] mirzazulfan commented on #8
Hi @markphelps sorry for late reply, I was busy in the last week. How anout this?
![fff](https://user-images.githubusercontent.com/36124339/54523791-ed85a880-49a2-11e9-9bad-904fd98930ea.png)

[2019-03-18 13:11] markphelps commented on #8
Hey @mirzazulfan no problem! I was also busy last week.

I like the second one a lot! Would it be possible to have that one along side the text 'flipt' like you did in your first post? Also with the different color backgrounds like you did previously?

Would you mind providing the sketch files or originals as well?

I was going to credit you in the README and documentation for coming up with the l

[2019-03-19 04:56] mirzazulfan commented on #8
@markphelps You can download all files [here](https://drive.google.com/drive/folders/14evg5EhPnFNmKnbdsBGdqvFQ-zZMHkjg) and pr #34
If you need anything change in the future don't hesitate to cantact me.
Best Regard.

[2019-03-23 14:57] #8 closed

[2019-04-01 01:14] #5 closed

[2019-04-03 20:25] andrewmeissner opened #41 "External DB Storage"
Any plans on expanding this to use external databases, like mysql or postgres?  It's the coolest feature flag system I've seen.  :)

[2019-04-03 21:48] markphelps opened #42 "Runtime error if distribution doesnt add up to 100%"
Evaluation gives runtime error if distribution doesnt add up to 100%:

<img width="606" alt="Screen Shot 2019-04-03 at 17 47 27" src="https://user-images.githubusercontent.com/209477/55515459-ab15ca00-5638-11e9-8592-3740e581e4eb.png">

<img width="623" alt="Screen Shot 2019-04-03 at 17 47 34" src="https://user-images.githubusercontent.com/209477/55515464-acdf8d80-5638-11e9-8b86-e68250f092ce.png">

[2019-04-03 21:53] markphelps opened #43 "Updating constraint or variant doesn't reflect in UI until refresh"
![Kapture 2019-04-03 at 17 51 18](https://user-images.githubusercontent.com/209477/55515705-32633d80-5639-11e9-8826-8684046fae8a.gif)

1. Update constraint or variant (any property)
1. Click Save
1. Notice it doesnt reflect in UI
1. Refresh
1. Update is not visible

[2019-04-03 22:03] markphelps commented on #41
Thanks! Glad you like it!

Yeah that is on the roadmap, my plan was to offer High Availability support (using an external database so you can run multiple copies of Flipt) as a paid feature.. but that being said.. it really shouldnt be that much work since the Go sql package _should_ allow the code to be easily adapted to multiple DB backends. So it may be something I just add to the OS version.

[2019-04-06 17:31] #42 closed

[2019-04-06 18:02] #43 closed

[2019-04-16 18:12] andrewmeissner commented on #41
That'd be awesome!

[2019-05-10 08:10] yns01 opened #59 "How can we help?"
Great project. I'd like to contribute, do you have features that you have in mind? If so, it would be great if you can create issues so contributors can jump in.

[2019-05-10 13:12] markphelps commented on #59
Hi @yns01! Thanks, I would love some help!

I can think of a few things off the top of my head:

* Supporting additional databases such as Postgres and potentially MySQL. See #41 for more info.
* Better documentation/examples/diagrams around using variants and percentage distributions.
* Rule evaluation caching, this one might be a bit more challenging because of how rule evaluation is [currently

[2019-05-10 23:25] andreyvital opened #60 "`match` is not returning"
Hey @markphelps—great work.

I'm thinking about using flipt for a product I'm developing, however, I am not sure if I'm doing something wrong.

I've created one flag called "test" with a segment that matches on all contexts and a targeting rule **on** set to 50% and **off** also set to 50%. I can't seem to get a `match: true` or `match: false` back from the server.

[2019-05-10 23:25] andreyvital commented on #60
[code]

[code]

[2019-05-11 01:00] markphelps commented on #60
I think this might be a use case that I overlooked. Do you have any constraints defined for your segment or no?

I'm assuming no since a segment with no constraints should potentially match everything.

[2019-05-11 01:42] andreyvital commented on #60
@markphelps hmm...well, I want to segment on all users, but then `on` variant would match for 50% and `off` would match for other half. Am I misunderstanding something? 🤔

[2019-05-11 01:49] markphelps commented on #60
Nope I think it’s just an oversight on my end. Will try to fix this weekend. Would you mind posting a screenshot of your segment?

[2019-05-11 02:00] andreyvital commented on #60
![image](https://user-images.githubusercontent.com/967317/57563712-46583880-7377-11e9-86b4-db09444ed650.png)
![image](https://user-images.githubusercontent.com/967317/57563723-65ef6100-7377-11e9-9fec-24303253d2b6.png)

[2019-05-11 02:02] andreyvital commented on #60
it'd be awesome if you manage to fix it...i'm really excited to start using it in my product! I think it simplifies feature flagging and abstracts the way out of complex implementations

🍻 💯 😍

[2019-05-11 02:04] markphelps commented on #60
Thanks! Will work on it this weekend. Would love to talk to you as well about how you plan to use Flipt in your product.

[2019-05-11 14:08] markphelps commented on #60
So I've reproduced the issue and have a workaround for you while I think more about if this is really a bug or a design choice.

## Background

Here's some info on why this isn't working as expected:

Rules are attached to flags and segments, but in order for a rule to match a segment, currently a segment has to have constraints. This is so it can have something to match against your segments, and

[2019-05-11 14:15] andreyvital commented on #60
@markphelps yeah I've done that, but feels weird to me to always pass something in the context just to force it to match a segment

[2019-05-11 14:17] markphelps commented on #60
Yeah agreed

On Sat, May 11, 2019 at 10:15 AM Andrey <notifications@github.com> wrote:

--
Mark Phelps
http://markphelps.me

[2019-05-11 18:02] markphelps commented on #60
Actually, with the workaround I described, you shouldn't have to pass anything in the context since the constraint is "field IS NOT PRESENT".

![Screen Shot 2019-05-11 at 2 00 48 PM](https://user-images.githubusercontent.com/209477/57573422-5a427f80-73f5-11e9-867b-cf4241be548b.png)

[2019-05-11 18:04] andreyvital commented on #60
Yeah thats right 🤔

So...you think you'll be able to put together a fix that doesn't require me to define a rule to match all or should I go ahead with this workaround?

Define a random key that'll never be present.

[2019-05-11 18:09] andreyvital opened #61 "Batch evaluation"
Maybe not a top priority right now...but do you think there's a way to batch-evaluate a set of flags?

I plan to use the REST API instead of grpc—so like, it'd be nice if I could send a single request with a set of flags to be evaluated instead of 1 request per flag. Just to avoid all the roundtrips.

Thoughts?

[2019-05-11 18:20] markphelps opened #62 "Support Postgres DB storage"
Re: #41

Add support for external DB storage with Postgres.

## Requirements:

* Satisfy the same interface in the [storage](https://github.com/markphelps/flipt/blob/master/storage/storage.go) package.
* Be configurable, meaning the user can swap out the default SQLite implementation with Postgres via the config file. This will likely mean changing the config format for `db`, ex:
https://github.co

[2019-05-11 18:21] markphelps commented on #41
Will be tracking this in #62 so will close this. My thinking is Postgres could come first, then MySQL a close second.

Thanks again for the feature request!

[2019-05-11 18:21] #41 closed

[2019-05-11 18:22] markphelps commented on #60
Yup will still work on fixing this so that you don't have to define a 'fake' constraint

[2019-05-11 18:28] markphelps commented on #61
Great idea. How would you expect the request body to look?

Something like this, where you evaluate multiple flags but with the same entity_id and context?:

[code]

Or, would you want to have different context/entity_ids for each flag, something like this:

[code]

[2019-05-11 18:31] andreyvital opened #63 "Returns `match: true` but doesn't evaluate to a value"
I think i've stumble upon another issue...so here's what I did:

- Created a rule `test`;
- Created a segment `test` with a constraint: `@alwaysMatch IS NOT PRESENT`
- Added two variants to `test` (on, off);
- Modified the targeting of `test` to be 50% off, 50% on;
- Deleted the two variants individually, created 5 new ones (a, b, c, d, e)—deleted the previous targeting and added a new one, wherea

[2019-05-11 18:32] andreyvital commented on #63
Here's the db:
[flipt.db.zip](https://github.com/markphelps/flipt/files/3169358/flipt.db.zip)

[2019-05-11 18:37] markphelps opened #64 "Better documentation/examples/diagrams around variants and distributions"
IMO there isn't great documentation on what you can do with variants, segments, rules and distributions.

It might make sense to add more examples that show how this could be used, much like in [examples/basic](https://github.com/markphelps/flipt/tree/master/examples/basic), but `examples/targeting`?

Also would be nice if these abilities could somehow be expressed better in diagrams or even just

[2019-05-11 18:42] andreyvital commented on #61
Hmm...good question, the way I see it is that in the 1st case, who's consuming the API would have to guarantee that the context is appropriate to validate against all constraints in all the flags requested.

Case N2 we'd repeat the context which might increase the request payload... what about allowing both scenarios? one network-friendly and another more "flexible"?

[code]

So the developer woul

[2019-05-11 18:50] markphelps commented on #59
I've created a [project](https://github.com/markphelps/flipt/projects/1) to help track TODOs in Kanban board.

Please feel free to pick off something in the TODO column or use the [help wanted](https://github.com/markphelps/flipt/labels/help%20wanted) label search as well. I'll also add this info to the README.

Thanks again!

[2019-05-11 18:50] #59 closed

[2019-05-11 18:59] markphelps commented on #59
FYI here's the section I added to the README: https://github.com/markphelps/flipt/blob/master/README.md#how-to-contribute

[2019-05-11 19:00] markphelps commented on #63
Thank you for the detailed bug report (and the db export). I'll take a look at this one before #60 as this one doesn't seem to have a work around.

[2019-05-11 20:27] markphelps commented on #63
Yup, I found some issues in my evaluation logic. Writing some tests cases and hope to have a fix out tomorrow.

[2019-05-12 01:41] #63 closed

[2019-05-12 02:00] markphelps commented on #63
Ok, this should be fixed in the latest release: https://github.com/markphelps/flipt/releases/tag/v0.4.1

Please let me know if you run into any more issues. Thanks!

[2019-05-13 00:51] harunalfat commented on #62
Glad to know you plan to do this. I plan to use Flipt for my current employer project, but our current infrastructure force us to use minimum of two pods of a service, and with its sqlite implementation, its problematic when the data of the two pods is out of sync.

I'm glad if I can contribute in this feature. The migration is hardcoded in SQL, is it works in Postgres too?

[2019-05-13 00:56] #60 closed

[2019-05-13 01:04] markphelps commented on #60
@andreyvital this should be fixed in the latest release, please let me know if you have any more issues.

Thanks again 🍻

[2019-05-13 01:10] markphelps commented on #62
I haven't tried the migrations with Postgres yet, but I plan to this week.

I use [golang-migrate](https://github.com/golang-migrate/migrate), to handle the migrations and according to them, the migrations are 'dumb' and processed directly by the db driver: https://github.com/golang-migrate/migrate/blob/master/MIGRATIONS.md#migration-content-format

So I'm thinking of changing the migrations paths

[2019-05-13 01:12] markphelps commented on #62
I'd be curious to know how other projects handle multiple database backends and migrations. I think GitLab supports multiple engines? Will need to do some research on this.

[2019-05-13 01:25] harunalfat commented on #62
I think using mysql/mariadb for GitLab is deprecated. It will works for most cases, but then have several limitations

[2019-05-15 17:40] markphelps commented on #62
Will push up a WIP branch to start hacking on this tonight or tomorrow

[2019-05-17 01:02] markphelps commented on #62
WIP PR here: #68

[2019-05-18 17:00] markphelps opened #69 "Switch to use Go modules"
The next release of go will probably enable modules by default. We should update Flipt to remain current and use modules.

I previously tried to do this and ran into some issues with GRPC or GRPC Gateway (I can't remember), so I would like to try again and document any issues if there are still any blockers.

It seems grpc-go should support modules just fine: https://github.com/grpc/grpc-go#instal

[2019-05-20 14:10] #69 closed

[2019-05-20 14:11] dependabot[bot] opened #72 "Dependabot couldn't find a Gopkg.toml for this project"
Dependabot couldn't find a Gopkg.toml for this project.

Dependabot requires a Gopkg.toml to evaluate your project's current Go dependencies. It had expected to find one at the path: `/Gopkg.toml`.

If this isn't a Go project, or if it is a library, you may wish to disable updates for it from within [Dependabot](https://app.dependabot.com).

You can mention @dependabot in the comments below to con

[2019-05-20 20:12] #72 closed

[2019-05-28 01:57] #62 closed

[2019-05-28 21:21] markphelps commented on #62
@harunalfat Postgres support has landed in v0.5.0.

Please give it a try and let me know what you think or if I can help in any way. Thanks!

[2019-05-28 21:22] markphelps commented on #41
@andrewmeissner Postgres support just landed in v0.5.0. Please give it a try and let me know what ya think! Thanks

[2019-06-02 01:34] twgraham opened #87 "Variants keys should be unique per flag, not globally"
When trying to create a variant for a flag where the key is **default**, I'm getting an error suggesting that the key needs to be unique, despite the no existing variants for the flag. I do have a variant with the key **default** on another flag though.

I would expect that the keys for variants should be unique per flag rather than globally, since there is no way that these variants can be used a

[2019-06-02 01:43] markphelps commented on #87
Great point and thank you for the issue! Will work on this ASAP.

[2019-06-06 00:03] #87 closed

[2019-06-06 01:04] markphelps commented on #87
@twgraham this has been merged, but am planning to make some changes on how migrations are run to make them safer before cutting a new release. should have that done and a new release cut by this weekend

[2019-06-06 01:21] twgraham commented on #87
Woohoo! Thanks @markphelps 👍

[2019-06-11 21:29] andrewmeissner commented on #41
[code]

Works wonderfully!  Thank you so much for adding this!

[2019-06-14 21:07] johnnynotsolucky opened #97 "Migrations not included in build"
Version 0.6.0
Binary installed to ~/flipt

Default configuration with exception of the sqlite3 db file located in ~/flipt, and migrations pointing to ~/flipt/config/migrations/sqlite3

Running `./flipt` results in error that ~/flipt/config/migrations/sqlite3 file does not exist.

Copying migrations from this repo into the migrations folder resolves the issue.

The last build to include migrations

[2019-06-14 22:52] markphelps commented on #97
Oops. Thanks for finding that @johnnynotsolucky. I just released [v0.6.1](https://github.com/markphelps/flipt/releases/tag/v0.6.1) that should fix this issue.

Thanks again!

[2019-06-14 22:52] #97 closed

[2019-06-22 17:53] markphelps opened #100 "Rule evaluation caching"
**Describe the solution you'd like**

Would like to support evaluation caching for rule based evaluation. IE https://flipt.dev/concepts/#evaluation

This would behave similarly to what was added in #6, but would likely be more complex since there are multiple entities that need to be cached (segments, distributions, rules, variants, etc) and invalidated.

One approach is to just cache the evaluati

[2019-07-17 19:28] #64 closed

[2019-07-17 20:21] markphelps opened #112 "Upgrade Yarn dev dependencies"
Some dev dependencies are several versions behind. Would like to get them as up to date as possible.

[code]

[2019-07-17 20:23] markphelps commented on #112
@christopherdiehl

[2019-07-21 16:00] christopherdiehl commented on #112
@markphelps please see #113

[2019-07-22 14:17] markphelps commented on #112
Fixed by #113

[2019-07-22 14:17] #112 closed

[2019-08-23 14:32] markphelps opened #124 "HTTPS Support"
Add support for users wanting to use their own HTTPS certs

[2019-09-22 15:07] markphelps opened #136 "Auto populate `key` fields based on `name`"
## Problem

When creating a new flag/segment/etc, you have to type the `name` and `key` field before saving as they are both required.

## Purposed Solution

It would be nice if the `key` field autopopulated based on the `name` fields as they are often closely related.

### Example

![Screen Shot 2019-09-22 at 11 03 33 AM](https://user-images.githubusercontent.com/209477/65389960-e01df200-dd28-11e

[2019-09-22 15:11] markphelps opened #137 "Handle unmarshalling errors better"
It would be great if we could handle unmarshalling errors more gracefully during evaluation.

## Example

![Screen Shot 2019-09-22 at 11 08 31 AM](https://user-images.githubusercontent.com/209477/65390034-82d67080-dd29-11e9-8706-7decd580505b.png)

## Ideas

1. Catch unmarshalling errors and return a nicer error that informs the user that values must be strings
1. Infer `"true"` from `true` and 'au

[2019-09-23 06:35] noasic opened #138 "Turn feature flags on/off based on segment"
I could use an easy way to turn feature flags on and off based on segments.

As an example, my web application has a feature called "projects" that I would like to enable only for users that have subscribed to the "professional" plan. As far as I know, the only way to do that in  flipt is to create two variants of the flag ("enabled" and "disabled"), and to map those variants to segments correspon

[2019-09-30 08:51] ajdevries opened #140 "Looks like that the segment constraints are not respecting the match all rules"
**Describe the bug**
When creating a segment with two constraints:
- boolean constraint `== true`
- and a string `== 'somevalue'`

The segment is matched when evaluating a flag with the boolean value only.

**Version Info**
Run `flipt --version` and paste the output here.
[code]

**To Reproduce**
1. Create a flag with one variant
2. Create a segment
  2a. Create a constraint `isAdmin`, `boolean` a

[2019-09-30 14:03] markphelps opened #141 "Support logging to file"
**Is your feature request related to a problem? Please describe.**
Currently logs only go to STDOUT, would be great to support logging to the filesystem

**Describe the solution you'd like**
Support logging to file in configs

[2019-09-30 14:09] markphelps opened #142 "Create export command for debugging"
**Is your feature request related to a problem? Please describe.**
It would be nice to provide an `export` command that allows users to export the current state of their database in a `yaml` or `json` format.

This would be helpful when debugging issues as I could ask users to attach the contents or subset of their `flipt export` data to bug reports.

**Describe the solution you'd like**
Support `

[2019-09-30 14:11] markphelps commented on #140
Thanks for reporting this @ajdevries. I'll look into this tonight and hopefully be able to provide a fix for this in the same release that delivers #138

[2019-10-01 05:42] ajdevries commented on #140
Hi @markphelps, thanks for your quick response. There is no hurry, take your time.

[2019-10-02 13:09] markphelps commented on #138
@noasic please checkout #145 and let me know if that will fit your workflow

Thanks!

[2019-10-02 14:45] aaronraff commented on #141
I am very new to this project but if you are looking for someone to lend a hand on either this issue or some other one, I would be happy to help out.

[2019-10-02 23:50] #138 closed

[2019-10-02 23:56] #140 closed

[2019-10-03 00:12] markphelps commented on #141
Awesome. That would be great @aaronraff !

I was thinking it could be implemented somewhat like this: https://github.com/sirupsen/logrus/issues/156#issuecomment-457577130

With adding a field to the config: https://github.com/markphelps/flipt/blob/3430f47942167ce16a1e0fc6dd6272bd835584e4/config/local.yml#L1

Something like:

[code]

I guess if file was empty or didn't exist it would just log to ST

[2019-10-03 23:44] #141 closed

[2019-10-03 23:48] markphelps commented on #141
@all-contributors please add @aaronraff for code

[2019-10-04 02:31] aaronraff commented on #136
I can look into this over the weekend if you haven't already started on it. I'm not sure if there is anything else to jump in on since all the issues are currently assigned to you.

[2019-10-04 12:07] markphelps commented on #136
That would be great, thanks @aaronraff!  I went ahead and unassigned myself from the others too because I haven't started on any of them, just incase you'd prefer one of the other issues.

[2019-10-04 12:45] aaronraff commented on #136
@markphelps I'll take a look at this one first. Thanks!

[2019-10-07 13:58] #136 closed

[2019-10-14 15:46] markphelps commented on #137
This is handled by grpc-gateway, so we should implement our own error handler per: https://mycodesmells.com/post/grpc-gateway-error-handler

https://grpc-ecosystem.github.io/grpc-gateway/docs/customizingyourgateway.html

[2019-10-23 01:02] aaronraff commented on #137
I can take a a look into this one. I'm leaning towards starting with idea 1, if that sounds like a good plan to you.

[2019-10-26 13:55] markphelps commented on #142
not going to implement at the moment

[2019-10-26 13:55] #142 closed

[2019-10-28 12:37] aaronraff commented on #137
I started taking a look into this over the weekend. I took a look at the blog post that you linked in this issue. After implementing that, this is the error that is made available to us through the custom handler: `rpc error: code = InvalidArgument desc = json: cannot unmarshal bool into Go value of type string`.

It seems like we would probably need to add some custom logic when decoding the json

[2019-10-30 01:02] markphelps commented on #137
Thanks for taking a look @aaronraff!

My initial thoughts were to be able to return something like `context values must be strings` or something similar if we failed to unmarshal those values, however after thinking about it some more, it may not be worth the trouble at the moment to implement a custom decoder just to do that.

What do you think?

[2019-10-31 18:13] aaronraff commented on #137
I don't mind trying it out, but if there are other issues that you feel are more important, I can jump on one of those.

Sounds like a cool idea for a library though!

[2019-11-01 15:15] markphelps commented on #137
I think im gonna close this since it's not really critical. There's another issue that I could use your help on re the automatic 'slugifying' of flag/segment keys from the name that was added in #155. I'll create an issue for that

[2019-11-01 15:15] #137 closed

[2019-11-01 15:23] markphelps opened #165 "Auto populate key from name should strip extra dashes"
**Describe the bug**

Using the wonderful auto-population of key fields for flags/segments that was added in #155, I noticed that any extra spaces before/after/between words in the `name` field correspond to extra `-`'s in the key field.

It would be great if we could strip these extra `-`s from the key field.

This will allow us to add stricter validation around the `key` field on the backend

**

[2019-11-01 15:45] aaronraff commented on #165
Nice catch! I can certainly fix this up since my PR introduces this. I am thinking that I can also begin to add some UI tests to catch these sorts of things.

Thoughts? I am new to unit testing Vue code.

[2019-11-01 18:31] markphelps commented on #165
That would be awesome!

I've actually never written unit tests for Vue.js either.. but I know that [Jest](https://github.com/facebook/jest) is a popular library that I think works well with Vue: https://vuejs.org/v2/guide/unit-testing.html

JS unit tests were def something on my radar for the future, so any help there would be greatly appreciated! But don't feel like you have to write them either,

[2019-11-06 11:43] poksme opened #166 "Inconsistent match when percentage rollout and match all rules are used together"
**Describe the bug**
When requesting a feature flag, with the same request `entityId` and payload and given two rules:
1) Percentage rollout over a specific segment -> 50% `released` 50% `unreleased`
2) Match all -> `unreleased`

We get inconsistent match and results over sequential requests.

**Version Info**
`0.10.0`

**To Reproduce**
On a fresh install
1) Create and enable a new feature flag
2)

[2019-11-06 11:47] poksme commented on #166
When going through the source code looking for the possible fall-through condition I came upon this condition: https://github.com/markphelps/flipt/blob/b593d55f48d8a484e9913cfad4597df0c64fe370/storage/evaluator.go#L309-L312

I can try debugging more later this week.

[2019-11-07 00:48] markphelps commented on #166
Thanks for finding and reporting this. I can also take a look more tomorrow and try to debug.

[2019-11-08 16:13] markphelps commented on #166
@poksme FYI I was able to reproduce this with a failing test case: https://github.com/markphelps/flipt/pull/168/files#diff-b528e409c9ecda759b1e8d7d7dbd27feR454

Still working on debugging/fixing

[2019-11-08 16:24] poksme commented on #166
Looks great!

I was able to re-produce similar issue easily with 2 match all rules. You will randomly match one or the other for the same `entityId`.

[2019-11-09 15:33] #166 closed

[2019-11-09 15:54] markphelps commented on #166
@poksme this should be fixed in the [latest release](https://github.com/markphelps/flipt/releases/tag/v0.10.1). Thanks again for finding it and filing the issue!

[2019-11-10 15:52] markphelps opened #169 "UI: handle flag/segment not found"
**Describe the bug**

User can input any flag key/segment into the url, even those that don't exist, and will be presented with a 'normal looking' view.

We should handle the 404 being returned by the API and show a warning/error message, and probably redirect to the flags index or segments index respectively.

**Version Info**
Run `flipt --version` and paste the output here.

[code]

**To Reprodu

[2019-11-13 14:48] gavincabbage opened #174 "Etcd storage backend"
**Is your feature request related to a problem? Please describe.**
Since my systems already use Etcd as a storage backend, an Etcd backend for Flipt would make it easier to deploy in my environment.

**Describe the solution you'd like**
I would like an Etcd storage backend, in addition to the PostgreSQL and SQLite options.

**Additional context**
Adding an Etcd backend will be a shift from the SQL

[2019-11-15 02:10] #169 closed

[2019-11-15 14:11] Domino987 commented on #140
Hi @markphelps ,
is there a way to change the 'match all' to 'match one of several' for the segments constraints?

[2019-11-17 19:06] markphelps commented on #174
Let me know if I can help @gavincabbage !!

[2019-11-17 19:20] #165 closed

[2019-11-17 19:51] markphelps commented on #140
@Domino987 would you mind opening up a Feature Request issue to explain your use case?

[2019-11-17 21:45] Domino987 opened #180 "Allow to match a segment to one of several constraints"
**Is your feature request related to a problem? Please describe.**
I need to toggle a feature in response to a certain parameter, e.g. I have 5 admin emails and if the API call sends one of them in the validate call, the feature should be toggled on by responding with true.
Currently I create a segment for each with the constraint email to be equal and the flag returns true for these segments. But

[2019-11-18 15:01] markphelps commented on #180
@Domino987 thanks for the feature request. I think this would be doable, although it would require a bit of work because it would be changing Segments to work from 'Match All', to making them configurable via a radio button or something (in the UI) to be 'Match All' OR 'Match Any'

Here's what I'm thinking would require changes:

* [ ] UI as mentioned above when setting up a Segment
* [ ] DB migra

[2019-11-18 15:12] Domino987 commented on #180
@markphelps , wow you gave that already a lot of thought. thank you. I would personally use a drop down to use less space and make it possible to add more types if needed without changing the interface.
I think it should not effect the evaluation  logic since it would be a switch to filter in dependance to the selected type for that segment and the match any should be faster with a short circuit o

[2019-11-20 01:07] markphelps commented on #180
@Domino987 I think im gonna go with a simple radio button like this, since really the only options for matching constraints are an AND or an OR (all vs any respectively)

![Kapture 2019-11-19 at 20 05 22](https://user-images.githubusercontent.com/209477/69200076-0df49c80-0b08-11ea-95fd-8b318859f0f0.gif)

[2019-11-21 09:18] Domino987 commented on #180
@markphelps , looks good. Will that automatically save the change to the db or will there be an additional save button. You could also move that to the segment creation dialog. But I like this approach as well, makes it easier to change.

[2019-11-21 14:06] markphelps commented on #180
Good question.. I think I may actually move it above into the form so that it's clear that you need to hit the save button below in order to change the 'Match Type'. Something like this:

![Screen Shot 2019-11-21 at 9 04 58 AM](https://user-images.githubusercontent.com/209477/69344864-21098880-0c3e-11ea-9fc4-d127c01e752a.png)

What do you think?

[2019-11-21 15:29] Domino987 commented on #180
Looks good, That makes it consistent not one does not accidentally change the segment :)

[2019-11-23 10:58] 4n70w4 opened #184 "Variant limited by quantity"
Hi! Thanks for the flipt!

I have a need to give specific variant in a limited quantity, for example, 1000.

I would also like to do 2 distribution strategies:

1) start distributing the variant to everyone with the highest priority until quantity ends.

2) evenly adding for a certain time, but not more than a given quantity.

[2019-11-23 16:08] markphelps commented on #184
Hi @4n70w4! Thanks for the feature request

Would you mind giving a more concrete description on how you would like this to work? Perhaps with some example flags/segments/rules and evaluation requests?

Pseudo code or diagrams would be great so that I can visualize this potential feature!

[2019-11-24 01:20] markphelps commented on #180
Tracking in https://github.com/markphelps/flipt/compare/segment-type

[2019-11-24 09:29] 4n70w4 commented on #184
Example 1: show special message for first 1 000 non registered visitors.

![image](https://user-images.githubusercontent.com/38257723/69492466-40115000-0eb4-11ea-8317-6ebee3ca4632.png)

It would be nice to have a field for a quantity limit.

Example 2: the same but also random distribution limited by time

![image](https://user-images.githubusercontent.com/38257723/69492533-1c9ad500-0eb5-11ea-9c06

[2019-11-24 09:57] 4n70w4 opened #186 "Error: Total percentage cannot exceed 100%."
I add 280 variants to one flag.
I go to `Targeting` tab and click `New Rule`.
I select `A Percentage Rollout`.
Interface draw my 280 variants with fre-filled 0,36%
I click `Add Rule` and get error `Total percentage cannot exceed 100%.`

Because 280 * 0,36 = 100,8

Flipt incorrectly calculated the initial values.

[2019-11-24 10:36] 4n70w4 opened #187 "Value param not presented in evaluate body after edit percentage rollout"
Initial settings:

![image](https://user-images.githubusercontent.com/38257723/69493351-f4b06f00-0ebe-11ea-83e6-8c0952b8e617.png)

I request evaluate:

[code]

and gets:

[code]

Then I modified percentage rollout (set first = 0):

![image](https://user-images.githubusercontent.com/38257723/69493363-1d386900-0ebf-11ea-8606-60d89eae2165.png)

And again request evaluate:

[code]

and gets:

[code]

[2019-11-24 10:42] 4n70w4 commented on #187
This is reproduced only with some entityId. I deleted everything, recreated it and could not reproduce it with the same values.

[2019-11-24 11:04] 4n70w4 commented on #187
Okay. I found the missing step to reproduce the error.

1) Create variants
2) Create rule with percentage rollout
3) Evalueate few entityId
4) Delete any variant
5) Recreate variant
6) Delete rule with percentage rollout
7) Recreate rule with percentage rollout
8) Evalueane few entityId
9) Change percentage rollout for any variant to 0
10) Evalueane few entityId
11) Get evaluate body without value

[2019-11-24 11:15] 4n70w4 opened #188 "Add json attribute to variants"
Case: I have 10 000 (and increasing) variants for one flag. In my code i wan't manualy write code for each variant key. I want get variant contain json with variant data. Example variant json:

[code]

And in my code write one code when handle json from variant instead if/else/switch for each variant.

[2019-11-24 11:30] 4n70w4 commented on #188
reference: https://checkr.github.io/flagr/#/flagr_use_cases?id=dynamic-configuration

[2019-11-25 00:58] #186 closed

[2019-11-25 01:00] markphelps commented on #186
Thanks for the bug report @4n70w4

This will be fixed in the next release (v0.10.5) as it's fixed on master

[2019-11-25 01:17] markphelps opened #190 "Add pagination to all table components in UI"
**Describe the solution you'd like**
Add pagination to all table components in UI (ex: defaulting to 15 elements per page)

**Additional context**
https://buefy.org/documentation/table/#pagination-and-sorting

Use: https://buefy.org/documentation/table/#async-data

[2019-11-25 18:16] markphelps commented on #187
@4n70w4 The reason that the response does not contain `match` or `variantKey` is because your request likely didnt match any distributions, it likely matched the remaining 34.33% empty space (100% - 33.33% - %33.33%)

Ideally, you should check the `match` value in the response first to determine if this is a valid match.

I could reproduce this by simply setting a variant distribution to 0% and tr

[2019-11-25 18:18] markphelps opened #192 "Add Use Case documentation"
Add Use Case documentation to the docs, with example screenshots and requests/responses. Like https://checkr.github.io/flagr/#/flagr_use_cases

[2019-11-25 18:22] markphelps commented on #188
@4n70w4 thanks for the feature request. I think I can see the value in this, wondering if you think this attachment field should support strictly JSON or any value (like a blob).

Reason being, I don't want to get into validating user input as JSON, but perhaps I dont need to. Whatever the user saves as the value could be returned as an attachment.

What are your thoughts?

[2019-11-25 19:34] markphelps commented on #184
@4n70w4 thanks again for the feature request. I think you should be able to accomplish most of what you want (**ex 1** and **ex 2**) by using segment constraints and rules instead of requiring these additions to variants.

Example segment:

<img width="1136" alt="Screen Shot 2019-11-25 at 2 25 57 PM" src="https://user-images.githubusercontent.com/209477/69571213-88517080-0f8f-11ea-9cbe-457c31c74e7

[2019-11-25 19:34] #184 closed

[2019-11-26 08:30] 4n70w4 commented on #188
@markphelps yes you're right, may be do payload in any format.

[2019-11-26 08:34] 4n70w4 commented on #187
I'll see it a bit later.

Also why not give debug in json reesponse by debug flag? Like this: https://checkr.github.io/flagr/#/flagr_debugging

[2019-11-26 10:25] 4n70w4 commented on #184
@markphelps thanks! I will try it, but it seems to me that segments will not cover all cases.

[2019-11-29 16:01] #190 closed

[2019-12-01 16:37] #180 closed

[2019-12-01 17:31] markphelps commented on #180
@Domino987 this has been added in [v0.11.0](https://github.com/markphelps/flipt/releases/tag/v0.11.0)! Please give it a try and let me know what you think, and thank you again for the feature request!

[2019-12-02 10:21] Domino987 commented on #180
Hi looks good but I found one major error:
It will match the user to a segment, if the segment has no constraints. So maybe you should also check, if the segment has any constraints before matching it.
![image](https://user-images.githubusercontent.com/17567991/69951566-c4d41d80-14f5-11ea-8dbf-b978d6109506.png)

Every user will match to this segment now, which is not desired, but should be an easy

[2019-12-02 17:56] markphelps opened #198 "Question: How are you using Flipt?"
👋 Hi, I'm Mark, creator of Flipt.

I was wondering if anyone was willing to share how they or their company was making use of Flipt (in production or otherwise)?

Since Flipt doesn't collect any telemetry data (on principle), it's near impossible for me to find out how it's actually being used.

Still, I'd like to know if people are finding this project useful and if there is anything I can do to

[2019-12-07 15:52] #187 closed

[2020-01-15 04:41] wsargent commented on #198
I'm not using flipt (yet) but I am trying to get more familiar with feature flag systems.  As a developer, all I really care about is making it reproducible as "not a service" so running in a docker container is ideal, and the user feature of flipt looks interesting because I should be able to run https://tersesystems.com/blog/2019/07/22/targeted-diagnostic-logging-in-production/ against it.

[2020-01-19 02:04] markphelps commented on #198
@wsargent this was a great read thank you! Would love to know more if you end up using Flipt for this!

[2020-01-21 10:33] twgraham commented on #198
More than happy to share 👍

**How do you or your company use Flipt? What are your usecases? Feel free to provide links to your site or product.**

We're using it over at [InfoPoint](https://infopoint.com.au). I was part way through designing an in house feature management service when I found out about flipt. It looked well designed, with clear intentions. We use it for managing various API endpoi

[2020-01-21 10:47] badboyd commented on #100
Can we open it again?

[2020-01-21 10:55] badboyd commented on #100
Can we just cache the rules and distributions, and do the evalutaion? Then let the cache be purged after an expiration time.

[2020-01-21 12:25] markphelps commented on #100
Yep! Ive actually started working on this this week

[2020-01-26 15:21] markphelps commented on #100
Tracking in https://github.com/markphelps/flipt/tree/cache-redo, I hope to have this land early this coming week

[2020-02-01 17:33] markphelps opened #216 "Add e2e UI tests"
**Is your feature request related to a problem? Please describe.**
Add some end to end UI tests to verify that changes do not break the Flipt UI and that users see the expected results.

**Describe the solution you'd like**
Perhaps something like [testcafe](https://devexpress.github.io/testcafe/)? I dont know much about the 'modern' e2e Javascript testing frameworks.. but I know things I DO NOT WA

[2020-02-01 19:39] #100 closed

[2020-02-01 19:50] markphelps commented on #100
@badboyd this should be fixed as of [v0.12](https://github.com/markphelps/flipt/releases/tag/v0.12.0)

The docs on the caching feature are here: https://flipt.io/docs/configuration/#caching

Lemme know how it works for you!

[2020-02-05 06:43] kceb opened #223 "Using DB to keep track of migrations"
**Is your feature request related to a problem? Please describe.**

I'm currently using unleash, but I'm considering flipt. I'm going through the docs and noticed that migrations are kept in the `db.migrations.path` config, which points to a local file. There is no indication that migrations are stored locally, but I'd love to be wrong.

Edit: Are these files similar to migration files in rails or

[2020-02-05 13:57] markphelps commented on #223
Hey @kceb

You are correct in that the migration files are used similarly as they are in Rails. In particular, Flipt uses [go-migrate](https://github.com/golang-migrate/migrate) to handle migrations.

It keeps track of which migrations have been run by [storing the current migration version number in the database](https://github.com/golang-migrate/migrate/blob/master/FAQ.md#do-i-need-to-create-a-t

[2020-02-05 18:26] #223 closed

[2020-02-07 19:27] markphelps opened #224 "Support Mysql"
MySQL is still a popular DB, so let's support it

[2020-02-08 15:51] markphelps opened #225 "Import/Export to file"
## What

I'd like to be able to export all flags, variants, segments, constraints and rules to a file (YAML/TOML/your favorite ML).

This would allow storing all configuration in source control as well as provide a simple way to backup data.

I'd also like to be able to import previously exported data

I'm thinking this would require two new commands `flipt import` and `flipt export` with options

[2020-02-09 23:08] markphelps commented on #225
Tracking in https://github.com/markphelps/flipt/compare/import-export

[2020-02-15 05:30] badboyd opened #229 "Evaluator does not keep distributions order, which makes percentage rollout inconsistent."
I think this query should be ordered by created_at [evaluations](https://github.com/markphelps/flipt/blob/86eaa3fa7c7a1a6275130c3107d1456034b13692/storage/db/evaluation.go#L114) same as [rules](https://github.com/markphelps/flipt/blob/86eaa3fa7c7a1a6275130c3107d1456034b13692/storage/db/rule.go#L366)

[2020-02-15 05:42] badboyd commented on #229
Sorry, my mistake

[2020-02-15 12:06] sagikazarmark commented on #61
Is this actually done or just got closed due to inactivity?

I would also be interested in an evaluateAll  request, since a batch can grow pretty large. That would help integrate flipt into existing solutions.

[2020-02-15 14:48] markphelps commented on #229
Thanks @badboyd. Could you please provide a test case or steps to reproduce this bug?

[2020-02-15 14:51] markphelps commented on #61
@sagikazarmark yeah it was closed due to inactivity. I'll reopen it if its a feature you'd like to see added.

Question about `evaluateAll`, in what order would it evaluate all the flags? By createdAt? Or would this be configurable per request

[2020-02-15 16:14] sagikazarmark commented on #61
Hm, I'm not really interested in the order, I just need a list of the flags evaluated for a certain user.

[2020-02-15 19:02] markphelps commented on #61
Good point, I guess the order wouldnt matter if the response returned `match=true/false` for each flag, not just the first one that matches.

[2020-02-16 13:47] badboyd commented on #229
Request payload:

`{
    "flagKey": "test",
    "entityId": "10000",
    "context": {
        "foo": "bar"
    }
}`

Steps to reproduce:
1/ Create a rule has 2 variants var_1, var_2 with distributions 80-20. Run debug with above payload.
2/ Click the edit distributions button then click save(you maybe have to do it several time), run the debug again and see the response variant is different.

[2020-02-17 01:36] markphelps commented on #229
Thanks! Will look into it tomorrow

[2020-02-17 15:56] markphelps commented on #229
@badboyd I tried to reproduce this locally but couldnt. I tried with both cache enabled and disabled and using SQLite

I pushed a test case that should reproduce the error, but couldnt get it to fail: https://github.com/markphelps/flipt/compare/issue229

Couple of questions:

1. what version of Flipt are you running? Output of `flipt --version`?
1. You say you got this error using both SQLite and

[2020-02-18 00:12] geoom opened #232 "Multi-tenancy database support"
I have multiple databases (aka tenant) since I developed a multi-tenancy system, every tenant is a customer who owns a site https://[tenant_name].mysystem.com, how can I smoothly toggle features for a specific tenant using Flipt?

[2020-02-18 04:56] badboyd commented on #229
Hi @markphelps,

1. I use the master branch
2. I got this problem using Postgres
3. I try with cache and without it
4. I have logs

`time="2020-02-18T04:52:22Z" level=debug msg=evaluate request="flag_key:\"test\" entity_id:\"1000\" context:<key:\"foo\" value:\"bar\" > " server=grpc storage=postgres

time="2020-02-18T04:52:22Z" level=debug msg="Distribution: %+v{2f6b679e-4435-426b-9f1d-0e400671d220

[2020-02-18 05:04] badboyd commented on #232
+1 for this request

[2020-02-18 13:51] markphelps commented on #229
Ah looks like you are right @badboyd ! The tests I added did fail but only on Postgres! https://github.com/markphelps/flipt/commit/9e1538112b2e323a4995f819ae843fb2a2db89dd/checks?check_suite_id=463661422#step:8:707

Will make a fix now and create a new release. Thank you again for finding and reporting this!

[2020-02-18 14:03] #229 closed

[2020-02-18 18:57] andreyvital commented on #61
@markphelps actually that's what needs to happen. It's just to avoid multiple HTTP roundtrips for each flag you know?

[2020-02-19 13:52] markphelps commented on #232
@geoom interesting use case. Originally Flipt was not meant to support the use case of a single Flipt instance covering multiple applications. It seems your use-case is more for different virtual hosts?

The original idea was that you could use Flipt to on a multi-tenant system like how GitHub is multi-tenant (same application code but each user has their own data).

Just to confirm, are each of y

[2020-02-25 18:11] geoom commented on #232
@markphelps all tenants only share same application code but each one has its own database.

what do you mean "original idea was" ? imho that's a killer feature and a big advantage compared to Unleash.

[2020-02-29 15:45] #225 closed

[2020-02-29 16:00] markphelps commented on #232
Ohh I think I didn't read it correctly in the first place. So each customer actually has it's own physical database? Got it.

How would you want this feature to work?

Currently, you can create different [segments](https://flipt.io/docs/concepts/#segments) for your customers, and then define [rules](https://flipt.io/docs/concepts/#rules) based on those segments.

This would allow you to toggle fea

[2020-03-05 07:46] geoom commented on #232
I am not sure, *segments* sounds like a tag for a bunch a tenants, so I wont be able to toggle features for specific customers but for specific bunch of customers as segments.

It's seems a workaround but it doesn't add a really support to multiple databases like as I explained in my original request. Anyway, Flipt looks promising, I'll going to try out some of its features.

[2020-03-08 14:51] markphelps commented on #232
Im still not 100% sure on what the solution is you are looking for. Flipt doesnt access your data/databases. It only maintains its own database to store flags/segments/etc.

It's up to the logic in your application to integrate Flipt into how your data is modeled. Going to close this for now, if Flags or Segment's still don't work for your use case. Please open a new issue with this template: http

[2020-03-08 14:51] #232 closed

[2020-03-10 14:48] ynl opened #245 "How can we make a segment with large amount entity？"

[2020-03-10 15:22] markphelps commented on #245
👋🏻 Could you please add some more info about your question? I don't understand what you mean

[2020-03-12 18:56] jperl commented on #216
👋 Hello I maintain an [open source library](https://github.com/qawolf/qawolf) that generates [Playwright](https://github.com/microsoft/playwright) code. I would be happy to submit PRs setting up e2e tests, if you are cool with them using Playwright?

[2020-03-13 14:37] markphelps commented on #216
@jperl Yes that would be awesome! This is the first I've heard of Playwright, but it looks great, as does QAWolf (love your landing page btw).

[2020-03-13 14:47] jperl commented on #216
Awesome, I will start working on a PR next week!

[2020-03-26 14:14] #245 closed

[2020-03-27 13:32] #216 closed

[2020-04-02 16:03] ardyfeb opened #257 "Evaluating all flags"
**Is your feature request related to a problem? Please describe.**
Feature, allow evaluate all available flags

**Describe the solution you'd like**
Querying available flags which is return all flags that fit for current context. Example:
[code]
and returns

[code]

**Additional context**

[2020-04-03 17:38] dcramer opened #258 "Variants column wrong"
**Describe the bug**
The variants column in the flags list always says yes, though my assumption is it should only say yes if there are variants attached to a flag.

**Version Info**
0.13.0

[2020-04-03 22:00] dcramer opened #259 "Python bindings"
https://github.com/getsentry/flipt-grpc-python

just an fyi in case you wanna document it. can add you to the repo.

also added a Makefile which may be useful in other repos?

we're exploring using flipt so this is needed for our eval

[2020-04-05 13:02] markphelps commented on #259
@dcramer Amazing thank you! Will add to the README. I'd be honored if Sentry used Flipt, big fan of Sentry as we use it at GitHub. Lmk how it goes and if theres any questions I can answer!

[2020-04-05 13:16] #259 closed

[2020-04-05 13:31] #258 closed

[2020-04-06 17:56] dcramer opened #262 "Flags with special characters"
**Describe the bug**
Adding a flag with a `:` character breaks the UI. e.g. ``foo:bar``

[2020-04-06 18:02] dcramer opened #263 "Clarify 'on' behavior"
It's not obvious to a user what "on" or "off" does. I would assume they fully turn the feature on or off, but at least the for the on state thats not true.

So here's the question:

Should a flag with "on" and no rules be on? If not, then maybe its at least worth clarifying in the user (help text? something else?) what the behavior is.

[2020-04-06 18:11] dcramer commented on #263
Similar concern: it's not obvious how entity_id is used in the system. I'm guessing the variants rely on that?

[2020-04-06 18:47] markphelps commented on #257
@ardyfeb evaluating all flags would not be very performant as it would have to loop through each and determine which segments/constraints they match.

Would something like #61 help instead?

[2020-04-06 19:03] dcramer commented on #263
Quick thought: when the state is "on" but no targeting is defined, show a different state + a helper text saying its not active and why?

[2020-04-07 23:36] markphelps commented on #263
So you can use flags in two ways:

1. simple on/off with no rules defined, no evaluation, you just wanna toggle something on and off. On or enabled in this case means if you do `GetFlag`, the enabled field will return true, and you can use that in your application as you'd like
2. flags with rules will only `Evaluate` if the Flag is enabled, or 'on'

I agree I think I could call this out better in

[2020-04-07 23:37] markphelps commented on #262
Thanks for reporting @dcramer. I'll work on this ASAP

[2020-04-19 17:56] #263 closed

[2020-04-19 18:14] markphelps commented on #262
Confirmed. GRPC Gateway issue here that I believe is causing this: https://github.com/grpc-ecosystem/grpc-gateway/issues/224

[2020-05-06 18:35] giddel opened #278 "flipt import read from STDIN"
For backup the sqlite database I can use `flipt export` which pipes to STDOUT. In our k8s environment this looks so:
`kubectl exec -it <name of flipt pod> -- /bin/sh -c './flipt export' > export.yaml `
... and works like a charm :-)

But now I wonder how to import the the backup since `flipt import` wants to read from a file, not from STDIN. I've tried a lot of variants, all ended in `Error: requi

[2020-05-11 14:02] giddel commented on #278
Little update of my idea:
Why not provide API endpoints for export and import the data?
And once we have API endpoints, why not provide these maintenance feature from the admins frontend?

[2020-05-16 16:29] markphelps commented on #278
@giddel I just released https://github.com/markphelps/flipt/releases/tag/v0.14.0 which should allow you to import from STDIN. I also updated the docs here: https://flipt.io/docs/configuration/#import

Thanks for the feature request! I think I'll hold off on adding this to the API/UI for now unless someone else wants to work on it

[2020-05-16 16:29] #278 closed

[2020-05-18 16:43] derekperkins commented on #224
This is a blocker in our evaluation of flipt

[2020-05-20 14:07] markphelps commented on #262
Not stale, currently working on it

[2020-05-20 20:11] #257 closed

[2020-05-21 13:31] markphelps commented on #224
@derekperkins I plan to try and tackle this over the long weekend coming up

[2020-05-27 13:43] #262 closed

[2020-05-28 18:55] markphelps opened #293 "Reload config on SIGHUP"
**Is your feature request related to a problem? Please describe.**
Enable Flipt to be daemonized per https://www.mikeperham.com/2014/09/22/dont-daemonize-your-daemons/

**Describe the solution you'd like**
Sending Flipt a SIGHUP signal should reload the configuration

**Additional context**
* https://www.mikeperham.com/2014/09/22/dont-daemonize-your-daemons/
* https://ieftimov.com/post/four-steps-

[2020-06-02 18:50] #61 closed

[2020-06-03 08:58] sagikazarmark commented on #224
Just an idea: maybe consider using an ORM for a DB storage implementation? There aren't many good ORMs for Go unfortunately, but this looks promising: https://github.com/facebookincubator/ent

Normally, I'm not a huge fan of ORMs because they hurt application architecture and gives less experienced developers the wrong ideas, but as an implementation of an interface they work great, because they a

[2020-06-20 23:30] markphelps commented on #224
@derekperkins @sagikazarmark I am extremely close to shipping this!.. However, I could actually use some help figuring out why a couple test cases are failing intermittently, but **only when running with MySQL**.

Would either of you (or anyone else) be able to help? My MySQL skills are a bit rusty.

Here's the test output:

[code]

## To Reproduce

1. Checkout the [mysql2](https://github.com/mark

[2020-06-21 06:11] derekperkins commented on #224
The generated query looks fine and should be reliable. I'm not quite sure what your schema is doing with the `NOW(2)` syntax for your defaults, and maybe that's causing it to not work as expected. Normally I'd expect to see something like this.

[code]

On an unrelated note, the only MySQLism that might get you is that pre-8.0 doesn't use true utf-8 by default. You should probably set your tables

[2020-06-21 15:29] sagikazarmark commented on #224
I couldn't actually get the tests to run, because the schema migrations failed. After fixing them, the tests are still failing though.

One possible reason for that is mysql timestamps store seconds and it looks like records are created too quickly (and the query orders records by the creation timestamp):

![Screenshot 2020-06-21 at 17 23 53](https://user-images.githubusercontent.com/1226384/85228

[2020-06-21 18:26] sagikazarmark commented on #224
Further looking into the topic, it looks like mysql 8 actually supports storing fractional seconds with the original syntax I removed in #304, but my guess for the breaking tests is still wrong order because of time.

I guess you could add support for mysql 5.x and 8 separately, but I'm not sure it's worth it.

[2020-06-24 15:11] markphelps commented on #224
@sagikazarmark @derekperkins Thanks for both of your help! I pushed a 'beta' version that supports MySQL to DockerHub:

[code]

Please try it out if you can. I want to verify it works as expected before merging it into master and cutting a release version.

You can set it to connect to an existing MySQL DB by running it like so:

[code]

Here's more info about [configuration](https://flipt.io/docs

[2020-06-25 15:37] markphelps commented on #224
Actually, i found an issue with the migrations. Working on a fix.

[2020-06-29 12:55] #224 closed

[2020-06-30 13:10] markphelps commented on #293
wontfix

[2020-07-09 13:58] giddel opened #316 "improve database configuration"
I'm very happy for the Mysql support - thanks a lot!
As a little improvement I would suggest to split the configuration of the database credentials into separate keys in the config.yaml e.g.

[code]
And then build the connection string in the application itself based on these credentials.
So the user does not need to know the internals about the format of the connection string and the configuratio

[2020-07-09 14:37] giddel commented on #278
Export from v0.13 with Sqlite and import into v0.16 with Mysql worked! :-)

[2020-07-10 15:14] markphelps commented on #316
I like it. Might keep `url` still as an alternative that will take precedence (and for backwards compatibility), but also allow for the configuration you described above.

[2020-07-10 15:19] #198 closed

[2020-07-14 11:12] giddel opened #318 "evaluate constraints against lists"
Currently a constraint  can be evaluated against one value as in string comparison.
But our use cases often contain a list of values. A constraint should match, when the property of the segments occurs in a list e.g. a segment "Good Colors" should match on the property:

    myColor in (red, green, blue, yellow, purple)

instead of an writing a MatchAny with a lot of clicks in the UI:

[code]
Sinc

[2020-07-16 09:48] giddel opened #319 "database credentials are visible in log"
**Description**
The database connection is configured by a connection string containing the credentials.
This connection string is complete printed to the log at startup time.

[code]
**Version**
Version: 0.16.0

**Expected behavior**
No credentials are visible in the logs!

[2020-07-16 13:30] markphelps commented on #319
@giddel thanks for the issue! I pushed a backported fix to https://github.com/markphelps/flipt/releases/tag/v0.16.1 since I see you are on v0.16.0

I'm also forward fixing on https://github.com/markphelps/flipt/releases/tag/v0.17.1 / latest if you want to update

[2020-07-16 13:35] #319 closed

[2020-08-01 14:56] #316 closed

[2020-08-02 16:50] markphelps commented on #316
@giddel Added! Thanks for the feature request! Checkout the [latest release](https://github.com/markphelps/flipt/releases/tag/v0.18.0) and [updated docs](https://flipt.io/docs/configuration/#database) for more info.

[2020-09-16 13:53] giddel commented on #318
In addition to the above it would be nice if a property can be a list and it's checked if a concrete value is part of the list:
[code]

[2020-12-07 15:23] markphelps opened #367 "Don't allow empty rules to be created via API"
**Describe the bug**

Currently it is possible to create a rule that does nothing:

![Screen Shot 2020-12-07 at 10 18 34 AM](https://user-images.githubusercontent.com/209477/101368896-ad9cde00-3875-11eb-8acb-263167fe7ce4.png)

IE this rule matches a segment but doesnt return any value

This does evaluate correctly.. however seems like it shouldnt be allowed:

[code]

**Version Info**
Run `flipt --

[2020-12-07 15:32] markphelps opened #368 "[FLI-230] Make flag rollout a first class feature"
**Is your feature request related to a problem? Please describe.**

It's currently possible to do a flag rollout (enabling a flag for x% of requests) by using a combination of Segments and Variants, however its not very intuitive.

Ex:

1. Creating a flag with variants 'on' and 'off'
2. Creating a rule to return 'on' for 50% of users in an empty segment
3. Update your client code to check for 'on'

[2021-01-29 04:44] darwin67 opened #380 "v1.1.0 docker image not available"
Hello,

Looks like v1.1.0 is out for a while now but the images are not available on docker hub.
Would you mind building it and making it available?

Thanks

[2021-01-29 16:35] markphelps commented on #380
Sorry about that, I managed to screw up the release process

Just published to both [DockerHub](https://hub.docker.com/layers/markphelps/flipt/v1.1.0/images/sha256-b2dc8c95512fcd1c5d957b30c8243a344ab278f8e3675abac5aa085c69989b5c?context=explore) and [GitHub](https://github.com/users/markphelps/packages/container/package/flipt)

[2021-01-29 16:35] #380 closed

[2021-01-29 18:42] darwin67 commented on #380
thank you!
wasn't aware that github now has a registry offering. pretty cool!

[2021-01-29 18:51] markphelps commented on #380
yeah, I actually work on that team. so if you have any feature requests/bugs let me know!

[2021-02-17 11:13] edumucelli opened #385 "The "Try It" section implies "0.0.0.0" means "localhost""
When giving it a try on Flipt and reading the documentation it took me a while to see that the service does not runs on `localhost` by default, but on `0.0.0.0`. They are not the same thing and can have very different meanings, roughly speaking one is the loopback interface, while the other respond to all interfaces.

The current README states:

[code]

But we can see in the demo GIF that:

[code]

[2021-02-17 15:35] markphelps commented on #385
Thanks for the bug report @edumucelli !

I think we could do a two pronged approach:

In the first PR: Change the docs/README to say `0.0.0.0` in the short term

In the second PR:  Change the config/tests/docs/README to be `127.0.0.1` instead of `0.0.0.0`

My reasoning for this two step fix is to:

1. Get the docs to be in line with reality ASAP
2. I agree that devs prob expect it to be reachable

[2021-02-17 21:00] edumucelli commented on #385
Looks good to me. Can I work on that?

[2021-02-17 21:02] markphelps commented on #385
Yes please!

[2021-02-23 09:16] rio opened #391 "UI fails to render segments or flags"
The UI stays empty when requesting either segments or flags. The request tab does show entries being returned from the api. This happens on both Firefox 85.0.1 and Chrome 88.0.4324.182.

**Version Info**
Version: 1.2.0
Commit: 049e6ab29d47b04992f3338de5da43993b4bfb65
Build Date: 2021-02-23T09:09:50Z
Go Version: go1.15.5

**To Reproduce**
`docker run -ti --rm -p 8080:8080 markphelps:v1.2.0`

1. Ope

[2021-02-23 15:33] markphelps commented on #391
@rio try `0.0.0.0:8080` there is a current issue with binding to localhost: https://github.com/markphelps/flipt/pull/388#issuecomment-782121157

[2021-02-24 12:08] rio commented on #391
Thanks, I'll keep an eye on it!

[2021-03-08 15:02] giddel opened #394 "UI: javascript error - no flags or segments"
**Describe the bug**
Version: v1.2.0
After updating Flipt from 0.18.0 to 1.2.0 no Flags or Segments are visible in UI:
![No-Flags-or-Segments](https://user-images.githubusercontent.com/10463018/110338339-2eab7300-8027-11eb-8f3c-d7683e117099.png)

There are  javascript errors in browser console.
**Screenshots**
Error on Flags:
![Js-Error-Flags](https://user-images.githubusercontent.com/10463018/110

[2021-03-08 15:07] giddel commented on #394
Oh sorry ... seems to be in work here: https://github.com/markphelps/flipt/pull/388#issuecomment-782121157

[2021-03-08 17:53] markphelps commented on #394
@giddel does `0.0.0.0:8080` work instead of `127.0.0.1:8080`?

[2021-03-08 20:01] giddel commented on #394
Not really.
I'm using Flipt with k8s.
My default.yaml contains:
[code]
The pod comes not healthy (8080 is the Flipt http port)
[code]
And Flipt itself says:
[code]
The shutdown is caused by k8s imho, because the failed readiness probe ... I have to try some more about this failing probe ...

[2021-03-08 20:34] giddel commented on #394
Flipt v1.1.0 came up only(!) without the server.host entry in `default.yaml`.

[2021-03-09 21:20] markphelps commented on #394
Update: I have a fix for this in #396. Once the tests run/pass I'll release v1.2.1

[2021-03-09 21:20] markphelps commented on #391
Update: I have a fix for this in #396. Once the tests run/pass I'll release v1.2.1

[2021-03-09 21:26] #394 closed

[2021-03-09 21:26] #391 closed

[2021-03-10 08:27] rio commented on #391
Great! Can confirm this works. Thanks!

[2021-03-11 13:33] markphelps commented on #385
Fixed

[2021-03-11 13:33] #385 closed

[2021-05-27 15:05] siasalar opened #458 "ptypes.TimestampProto is deprecated: Call the timestamppb.New function instead."
https://github.com/markphelps/flipt/blob/f337a9b2d601944dca9247a35e41e34578c016a8/server/evaluator.go#L87

[2021-05-27 15:06] #458 closed

[2021-06-03 13:31] hagaishapira opened #462 "Segment search in match rule doesn't work"
**Describe the bug**
When setting up a new rule and looking for a segment to match typing anything doesn't seem to search or offer appropriate segments to match.

**Version Info**
v1.2.1

**To Reproduce**
1. Create several segments
2. Create a new flag
3. Try to add a new rule to the flag. Typing in a portion of an existing segment name doesn't lead to showing only appropriate results.

**Expected

[2021-06-04 15:24] markphelps commented on #462
Thanks for the bug report @hagaishapira ! I can confirm this same behavior. I will look into trying to fix this, likely an issue with the javascript library i'm using (buefy) to render this search

![Screen Shot 2021-06-04 at 11 23 16 AM](https://user-images.githubusercontent.com/209477/120825494-71e28880-c527-11eb-9c1b-7ae6252639af.png)

[2021-06-14 14:15] #462 closed

[2021-06-14 15:19] markphelps commented on #462
@hagaishapira just fixed this in #475 and released a new version `1.3.0`. please give it a try! and thanks again for the bug report

[2021-06-14 20:09] hagaishapira commented on #462
Thanks Mark, we will! Appreciate your hard work.

On Mon, 14 Jun 2021, 18:19 Mark Phelps, ***@***.***> wrote:

[2021-06-15 15:44] hagaishapira commented on #462
@markphelps works great! This is has been a major pain point for the team for weeks now, we are all rejoiced.

[2021-08-07 13:13] itaischwartz opened #515 "Corrupted rules"
**Describe the bug**
Adding Two Rules with Variant to the same flag, without re-selecting the variant, results in invalid rule creation.

**Version Info**
Version: dev
Commit: b2f1b94d965d27e1a4e01f16e62771320a1280fb
Build Date: 2021-08-07T13:02:33Z
Go Version: go1.16.3

**To Reproduce**
- Create a new flag.
- Add two variants (for instance "on", "off").
- Go to the "targeting" tab, click on "New

[2021-08-07 19:02] #515 closed

[2021-08-16 00:42] filipecosta90 opened #528 "codahale/hdrhistogram repo url has been transferred under the github HdrHstogram umbrella"
## Problem

The codahale/hdrhistogram repo has been transferred under the github HdrHstogram umbrella with the help from the original author in Sept 2020 (new repo url https://github.com/HdrHistogram/hdrhistogram-go). The main reasons are to group all implementations under the same roof and to provide more active contribution from the community as the original repository was archived several years

[2021-08-16 17:27] #528 closed

[2021-10-20 10:06] sagikazarmark opened #576 "Replace OpenTracing with OpenTelemetry"
**Is your feature request related to a problem? Please describe.**
OpenTracing teamed up with OpenCensus to create OpenTelemetry. Tracing support is already stable.

**Describe the solution you'd like**
Replace OpenTracing with OpenTelemetry tracing. Alternatively, add OpenTelemetry to keep backwards compatibility.

[2021-12-21 22:32] pietdaniel commented on #368
Some thoughts on this manner. When rolling out features there are a few patterns I find desirable:

 - A % of `hosts | containers | processes` in a deterministic manner so that if a host receives multiple requests it has the the same behavior. With large deployments rolling out to the same 2 machines is helpful in debugging subtle errors in new code paths
 - A % of tenants for the application to s

[2021-12-28 08:25] sagikazarmark commented on #576
I started looking into this one. A couple notes so far:

- As far as I can tell there is no official SQL instrumentation library for Go (yet) (Funny thing is: the issue about it was closed recently: https://github.com/open-telemetry/opentelemetry-go-contrib/issues/5) Is this something we have to wait for?
- A decision needs to be made about the list of supported exporters for traces (and probably

[2021-12-28 11:03] slavabobik opened #633 "Add redis as storage backend"
**Is your feature request related to a problem? Please describe.**
Hi, we actively used redis as storage, and I want to add this feature. I've found this issue https://github.com/markphelps/flipt/issues/174
but it was closes because author inactivity, so can I add?

**Describe the solution you'd like**
I would like to add Redis as storage

[2021-12-28 16:40] markphelps commented on #633
@slavabobik yes definitely would love any help adding more supported backends! Redis seems like a good candidate, it would be the first non-SQL backend though so that might be challenging, but I am looking forward to seeing your implementation

[2021-12-28 16:41] markphelps commented on #633
I also re-opened #174 because I still think that would be nice to have as well

[2021-12-28 17:05] markphelps commented on #576
@sagikazarmark thanks for the update!

I think I'd prefer to add OpenTelemetry as an option for now instead of straight up replacing OpenTracing because of the lack of db/sql support. I personally think db support is a key area for a tracing lib

For your second point, I haven't looked that much into it but it seems that otel already has a few supported exporters for Go: https://opentelemetry.io/d

[2021-12-28 18:15] sagikazarmark commented on #576
I think I agree, at least until SQL support is added. From that point, it doesn't make much sense to keep both. One could argue that helping the adoption of otel by dropping OT support would be a good thing.

There are several different exporters, otel, jaeger and prometheus might be the most popular ones, but I don't think bundling every single exporter out there is the way to go. Prometheus is a

[2021-12-29 08:04] slavabobik commented on #633
Thank you 🙏 could you please describe in brief(or may be you have article/wiki) flipt architecture? Because Redis first non-SQL backend, I would like to discuss about design first

[2021-12-29 15:02] markphelps commented on #633
Sure I'll try to write something up this afternoon.

I also need to do a bit of package renaming/cleanup since I realize now that the code is mostly coupled to the backend being a SQL backend

[2021-12-30 16:48] slavabobik commented on #633
Thanks, should I wait you or I can begin in parallel?

[2021-12-30 21:33] markphelps commented on #633
Feel free to begin whenever. I merged #364 yesterday.

Here is a quick overview of the storage architecture:

## Current Storage Structure

### Overview

To support a new storage backend, we'll need to implement the [Store](https://github.com/markphelps/flipt/blob/afacd10b03f505858afa9ed731d08932c8a4e1e9/storage/storage.go#L58-L63) interface.

It is a combination of 4 other interfaces: [Evaluation

[2022-01-25 17:35] hurrycaner opened #664 "v1.5.0 breaking change: invalid value for string type: null"
**Describe the bug**
When i send this request to flipt `/api/v1/evaluate`:
[code]
I'm getting the following response body as status 400:
[code]

This is a bug because this does break the default behavior and was not documented in changelog.

**Version Info**
version 1.5.0 as docker image.

**To Reproduce**
The steps are well written in the description

**Expected behavior**
The response should be

[2022-01-25 22:02] markphelps commented on #664
Thanks @hurrycaner , do you remember which version you were running before `1.5` that passing `null` was allowed? I'm wondering if this is due to an upgrade in grpc or grpc gateway

[2022-01-26 01:19] markphelps commented on #664
This seems like it may be the underlying issue: https://github.com/golang/protobuf/issues/1361

Looks like protobuf hasn't released a new release with the fix since its has been superseded by https://pkg.go.dev/google.golang.org/protobuf the [README](https://github.com/golang/protobuf#go-support-for-protocol-buffers).

I'll try upgrading to the new package and add a test to check the fix

[2022-01-26 13:37] mfbmina commented on #664
Hello @markphelps! on `1.4` it works if you pass `null`

[2022-01-26 14:58] markphelps commented on #664
Thanks @mfbmina ! It seems the regression was introduced in #594 when I upgraded grpc-gateway to v2. Theres an issue on the grpc-gateway project here: https://github.com/grpc-ecosystem/grpc-gateway/issues/2481

It seems like there are two options:
1. revert the upgrades to grpc-gateway back to v1
2. implement a custom marshaller as mentioned in [this comment](https://github.com/grpc-ecosystem/grpc

[2022-01-26 15:02] markphelps commented on #664
@hurrycaner if this is blocking you I'd recommend downgrading to [Flipt 1.4.0](https://github.com/markphelps/flipt/blob/master/CHANGELOG.md#v140---2021-08-07) until we can get this fixed, as there were no functional changes introduced in v1.5.0, only dependency upgrades

[2022-01-26 15:14] markphelps commented on #664
Alternatively, a third option is simply to announce that 1.5.0 introduced a breaking change since technically

[2022-01-26 17:07] mfbmina commented on #664
I believe that option 3 will break https://semver.org/.

Another option could be releasing two new versions: `1.6.0` and `2.0.0`
- `1.6` rollbacks the lib and keeps the old behavior
- `2.0` is technically the same version as `1.5`

What do you think?

[2022-01-26 17:21] markphelps commented on #664
@mfbmina while you are correct that 1.5.0 did technically break semver because it introduced a breaking change to the public API it did so unintentionally so I'd prefer not to increment the major version once the fix is in.

Semver actually has a section in the [FAQ](https://semver.org/#what-do-i-do-if-i-accidentally-release-a-backwards-incompatible-change-as-a-minor-version) discussing what to do

[2022-01-26 22:06] markphelps commented on #664
I'm going to open an issue to talk about Flipt v2 API, because there are some breaking changes that have been requested in the past, I just gotta dig them up and link them.

Then we could make the proper fix (to not handle nulls) in v2 since according to https://github.com/grpc-ecosystem/grpc-gateway/issues/2481 they arent valid in proto and reference this issue and update the open API docs as wel

[2022-01-27 01:38] markphelps commented on #664
@hurrycaner @mfbmina This should now be fixed in [v1.5.1](https://github.com/markphelps/flipt/releases/tag/v1.5.1)

![Screen Shot 2022-01-26 at 8 23 19 PM](https://user-images.githubusercontent.com/209477/151275864-79d02ead-ed76-4770-a0de-a2d79f7b42d4.png)

See [here](https://github.com/markphelps/flipt/compare/v1.5.0...v1.5.1) for changes

Thanks again for the bug report!

[2022-01-27 01:38] #664 closed

[2022-02-01 22:33] markphelps commented on #367
Thinking about this some, this would likely be a breaking change since it currently evaluates today.

A couple of options:

1. Dont make this change now and add it to v2 where we can make breaking changes
2. Only prevent creating empty rules in the UI, we could still allow empty rules to be created via the API.

I'm leaning towards 1 but would like more thoughts

[2022-02-01 22:38] markphelps opened #681 "Flipt API V2 Tracking Issue"
This is the placeholder to link issues / feature requests that we'd like to see in Flipt V2 API (REST and GRPC)

1. V2 would allow for breaking changes from the V1 API
2. It would be a new API version in the path (ie REST API `/api/v2`) and would likely require new GRPC endpoints and .proto definitions
3. V2 namespaced GRPC clients would also need to be generated

## Proposed Breaking Changes

- #

[2022-02-01 22:41] markphelps opened #682 "Convert to using GRPC Gateway v2 Marshaller"
https://github.com/markphelps/flipt/blob/f6a532f1252064b204984ab7c6dc1684b68cf3d6/rpc/flipt/marshaller.go#L20

See #664

[2022-02-03 17:14] amayvs commented on #188
Hi @markphelps, we are currently working on this feature and wanted to get some input about how field should be represented in the UI.

As per comments above, we've implemented `attachment` field as a `bytearray`, do we expect the UI to have a simple `textarea` where user can copy/paste data or does it need to do any encoding/decoding?

Additionally, if you have other general thoughts about this f

[2022-02-04 19:25] markphelps commented on #188
Thanks for taking this on and for the PR @amayvs ! I agree I think JSON would be better than storing binary.

Yes for the UI I was thinking we would have a textarea that is optional, and perhaps verify that it is proper JSON before submitting. We'd likely want to do that validation on the server side as well before accepting the JSON and perhaps put a limit to the number of bytes that can be store

[2022-02-04 21:54] kevin-ip commented on #188
@markphelps What would you recommend the default limit to the number of bytes?

[2022-02-05 01:28] markphelps commented on #188
@kevin-ip honestly I think we can just hardcode the max of the `attachment` field to be `10kb` or something similar. Then if we get a request to make it configurable we could do so later.

10kb of json is quite a lot for a single field I think

I was thinking something like this which I guess does make sense to be in the [variant validator](https://github.com/markphelps/flipt/blob/0c844088e7b306af

[2022-02-11 00:25] markphelps opened #697 "Import/Export variant attachment JSON as YAML"
@jalaziz good idea. I'll add this as a follow up PR before creating a release, I don't want to block the merging of this PR any longer than necessary

_Originally posted by @markphelps in https://github.com/markphelps/flipt/issues/685#issuecomment-1033809129_

[2022-02-13 18:30] #697 closed

[2022-02-14 14:13] markphelps opened #706 "Create test to check that expected migration versions are correct"
Re: #700

1.6.0 release was unsuccessful because we forgot to bump the expected db migration versions here: https://github.com/markphelps/flipt/pull/700/files#diff-90c8434c840e0b93eed0f28e4d501b0f48b3ac122c555178a6e963dc7d8ff311L17-L21 when new migrations were added in #685

We should automate this check, perhaps just making it a regular go test in the migrator package that will fail if there are

[2022-02-18 17:02] kevin-ip opened #710 "Missing Segment.MatchType in export"
**Describe the bug**
Exporting a segment with match type = "Match Any" and import it back updates the match type to "Match All"

**Version Info**
Run `flipt --version` and paste the output here.
[code]

**To Reproduce**
Steps to reproduce the behavior.
1. start container with the following docker-compose.yaml
[code]
2. visit localhost:8080
3. create a segment with Match Type = "Match Any"
4. creat

[2022-02-19 14:37] markphelps commented on #710
Thanks for reporting @kevin-ip ! I've got a fix PR for this

[2022-02-19 15:21] #710 closed

[2022-02-19 15:35] markphelps commented on #710
@kevin-ip this should be fixed in [v1.6.2](https://github.com/markphelps/flipt/releases/tag/v1.6.2)

[2022-02-19 23:24] #706 closed

[2022-02-20 05:53] kevin-ip commented on #710
Awesome! Thanks for the quick fix.

[2022-03-09 04:25] jalaziz opened #732 "Targeting the intersection of multiple segments in a single rule"
**Is your feature request related to a problem? Please describe.**

We've started to rollout `flipt` and mostly love it. However, we have encountered a few limitations in the way segments and rules are defined. In particular, the lack of full boolean logic makes certain configurations quite verbose. For example, it's difficult to create a target that matches "all dev environments and all API users

[2022-03-12 14:23] markphelps commented on #732
@jalaziz Thanks for the issue. I really like this idea. I'm trying to visualize how this could best be displayed to the user in the UI.

One idea is to simply allow you to specify multiple segments in the rule creation, and the UI would inform the user that this is an ANDing of the two segments.

Another potential solution that comes to mind is to support something like 'rule groups' where you can

[2022-03-20 16:48] markphelps opened #758 "Don't allow empty rules to be created in UI"
Re: #367

Going with option 1 for the UI.

The original issue is renamed to mention that it will be a breaking change to fix for the API

[code]

_Originally posted by @markphelps in https://github.com/markphelps/flipt/issues/367#issuecomment-1027354181_

[2022-03-20 17:23] #758 closed

[2022-03-20 17:40] markphelps commented on #367
Actually, this isnt possible due to the way rule creation via the API looks. You have to create an empty rule before you add distributions to it. Closing as wontfix since #758 fixed the UI portion

[2022-03-20 17:40] #367 closed

[2022-03-23 00:13] markphelps opened #766 "Helm Chart?"
Does anyone have a working Helm chart that they could contribute to Flipt?

I could always create one from scratch if need be, but would love to use an existing one as a base if possible?

[2022-03-30 14:09] markphelps opened #779 "OAuth / API Token Support"
This issue is to track/help define adding OAuth (and likely API Token) support in both Flipt backend and Flipt UI. This will allow users to login to Flipt via existing third party services as well as provide basic auth for API requests.

My initial thoughts for this feature are:

1. Implement OAuth for GitHub/Gitlab only at first. As these seem to me to be the most likely third party services that

[2022-03-30 14:24] markphelps commented on #779
Im thinking of this from 'outside in' like how this would work from a user's perspective before diving into the the technical implementation.

Im currently basing the design of this feature off of how [grafana](https://github.com/grafana/grafana) has implemented authentication

Here's some docs from grafana:

- [API token auth](https://github.com/grafana/grafana/blob/23956557d8c6a119b7de5be5c42024

[2022-03-31 00:33] markphelps commented on #779
yeah, currently every config key/value in YAML can also be set via an ENV var with the `FLIPT_` prefix like you mentioned. I plan to keep that going forward as well. Maybe YAML for the non-secret values + ENV var for the secret (client_secret) values is ok for now? Can always add some kind of templating or secret manager integration down the road

[2022-03-31 13:31] markphelps commented on #779
Alright so I'm starting to think through the backend/frontend flow

## Frontend/Backend flow

1. Login Page if either github or gitlab auth is enabled
2. User clicks either button
4. Request goes to backend `/login/:provider`
5. Backend does the oauth dance with provider and gets access_token
6. Backend gets basic user info from provider API using access_token (email, name, user_id)
7. Backend cre

[2022-04-01 02:11] tsickert commented on #779
For the flow, is this going to be using a standard authorization code grant type? If it is, I think it's going to be more like:

1. Login Page if either github or gitlab auth is enabled
1. User clicks either button
2. User goes to oauth_url page and authenticates
3. Request is sent to redirect url as configured in app (which would be the portal)
4. Portal sends request to /login/:provider?code=<pr

[2022-04-01 20:27] markphelps commented on #779
@tsickert yeah 💯 . I mixed up/left out a few steps. You're right the request would go to the provider then redirect back to us on the backend.

I was wondering how we would handle the case you mentioned about a user being created in the system and then authing with multiple providers. I think a join table makes a lot of sense like you described. I also agree that we can leave out name for now as i

[2022-04-02 17:26] #766 closed

[2022-04-02 17:35] #681 closed

[2022-04-04 14:25] markphelps commented on #779
Also Id like to add a 'Securing Flipt' guide to the docs when this is rolled out, detailing some best practices, ie: flipt config shouldnt be accessible/writable by non-trusted users, etc

[2022-04-04 17:13] markphelps commented on #779
Yeah I can see that, however Im not trying to solve every potential use case at the moment without feedback from users. So I'd rather start with the same approach that grafana uses (allowed_domains), maybe structure it similar to the above `allowed_user_filters` to allow for extension later?

so really just support the single basic email filter at first

[2022-04-04 19:07] tsickert commented on #779
Yeah, you're right, I'm probably over engineering it for the first pass 😅

Putting my customer hat on for a sec: I will say that I use my personal gmail account for my GitHub, so `allowed_domains` feels a bit coarse grained.

[2022-04-04 20:07] markphelps commented on #779
Thats a good point. What about instead of email, we use `allowed_organizations`? where its a CSV list of org names that the member must be a member of?

[2022-04-05 00:40] tsickert commented on #779
Oh, I totally missed those before. Those would be perfect!

I also agree that having that object hierarchy is probably preferrable to everything at the top level.

[2022-04-05 05:48] cubytz opened #788 "Update affects existing data?"
Thank you for the great project! I have a question (sorry if I am missing something): Does updating (1.6.1 -> 1.7.0 or any other version for this matter) affect the database in any way (for example, erase already persisted data)?

Thank you so much for the great library!

[2022-04-05 13:46] markphelps commented on #788
Hey @cubytz , great question!

We take great care to ensure that no data is lost or corrupted between upgrades. But to fully answer your question, it really depends on how you run Flipt.

For example if you are running it via Docker and using the default SQLite db, then you must [mount the volume from the host machine](https://flipt.io/docs/installation/#run-the-image) in order for the data to per

[2022-04-11 02:21] albertchae opened #802 "When CORS is turned on, `Vary: Origin` header gets overwritten by `Vary: Accept-Encoding` if request includes `Accept-Encoding` header"
**Describe the bug**

CORS requests should have the [`Vary` header set to `Origin` if the server specifies a single origin (that may dynamically change based on the requesting origin as part of an allowlist)](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#access-control-allow-origin). This header is set correctly thanks to https://github.com/go-chi/cors/blob/9b0b248d5e6ba10c954f076a98c5f77

[2022-04-11 14:06] markphelps commented on #802
Thanks for the bug report @albertchae and awesome work digging in and reproduction steps!

I think I'd prefer your solution 1, just to update to a non-release commit hash. It seems Chi hasnt released a new version in 6 months, but hopefully they will soon. In the mean time I'm good with updating to the specific hash.

Feel free to send a PR for https://github.com/albertchae/flipt/commit/4eb7e45163

[2022-04-11 19:18] albertchae commented on #802
@markphelps got it, thanks. Opened https://github.com/markphelps/flipt/pull/803

And thanks again for a great project!

[2022-04-11 21:50] #802 closed

[2022-04-12 13:59] markphelps opened #805 "Migrate to `main` branch"
https://github.com/github/renaming

[2022-04-16 14:16] markphelps commented on #805
done

[2022-04-16 14:16] #805 closed

[2022-04-21 08:31] ZombieMInd commented on #633
I'm trying to make Redis cache implementation, which @markphelps mentioned, but I run into a problem with [conversion](https://github.com/markphelps/flipt/blob/218fc502f86b3efef64ece1c7de800c5a5c44611/storage/cache/flag.go#L22) interface from cacher get method. It asserts interface from get to concrete model type, but it doesn't work with Redis implementation with json encoding, as json unmarshals

[2022-04-21 14:13] markphelps commented on #633
@ZombieMInd thanks for taking this on!

It might require a bit of cleanup in the cache package first to make implementing the Redis cache easier. I made an attempt in #825 . I'll likely merge this if I can finish/answer the TODOs in that PR.

I also tried a quick spike on implementing a Redis cache [here](https://github.com/markphelps/flipt/compare/cache-cleanup...wip-redis) based on #825. It uses

[2022-04-21 18:59] ZombieMInd commented on #633
Thanks for the reply!
I absolutely agree with those improvements, it would be really great! Maybe I can help you somehow with those tasks?
I have pretty much the same implementation as [this](https://github.com/markphelps/flipt/compare/cache-cleanup...wip-redis) with the same package, but here it begs to add context and errors

[2022-04-26 11:02] kamilbiela opened #835 "Reordering of targeting rules does not work"
**Describe the bug**

First of all thank you for this software, looks to be exactly what I need.
Can't save new order for targeting rules.  UI works ok, but changes are not persisted.

**Version Info**

1.8.1 - fetched as `latest` docker image tag

**To Reproduce**

add rules to targeting, try to reorder them, click "Reorder Rules" button.
Message "Invalid field segmentkey: must not be empty" show

[2022-04-26 13:43] markphelps commented on #835
Thanks for the bug report @kamilbiela !

I think I have a fix in #836. Will need to add a new integration test first, but assuming that succeeds I should be able to release a new version `1.8.2` with the fix tonight

[2022-04-26 13:45] markphelps commented on #633
Sorry for the delay @ZombieMInd.

I should have the Redis PR done by end of the week. I would really love your help testing if possible. I can create a snapshot release for you to try that has the Redis implementation once available.

Or if you are able to get your PR up before I do we can go off yours.

[2022-04-28 02:56] #835 closed

[2022-04-29 12:38] kamilbiela commented on #835
Checked on 1.8.2 - works perfectly, thank you!

[2022-06-07 14:20] mechamobau opened #874 "It's not clear why can't create a flag without variants"
**Describe the bug**

When I create a flag without variants, go to `targeting` and try to create a flag the submit button "Add Rule" is disabled. This was possible before updating to the current version.
It's not clear why I can't create a new flag, maybe it's a bug or this should have a feedback message about why it's not possible to perform the action.

**Version Info**

1.8.2

**To Reproduce**

[2022-06-08 00:46] markphelps commented on #874
👋🏻 Just want to make sure I understand, you can create the flag but it won't allow you to create the rule because there are no variants? It should still allow you to make the flag, but just not add any rules which are used for evaluation. You should still be able to use `GetFlag` to check if the flag is enabled or not though.

This changed in https://github.com/markphelps/flipt/releases/tag/v1.7.0

[2022-06-08 00:49] markphelps commented on #633
@ZombieMInd I still haven't forgotten about this. I am making steady progress in my limited spare time. I chose to go with a different approach by just caching the response from the `server` layer instead of caching at the `storage` layer and then going through the computation for evaluation each time.

My branch that I'm working on is [wip-redis](https://github.com/markphelps/flipt/tree/wip-redis

[2022-06-08 22:20] markphelps commented on #874
Actually I think you are right that this should go back to pre 1.7.0 behavior. I just tried it out on v1.6.3 (last one before 1.7) and it was intuitive

![Screen Shot 2022-06-08 at 6 18 21 PM](https://user-images.githubusercontent.com/209477/172727171-950490d2-933b-4805-9094-da0842b6091b.png)

I'll revert the change in #759 and create a new release

[2022-06-09 00:22] #874 closed

[2022-06-23 01:07] markphelps opened #904 "Update build to use Node 18 LTS"
We currently use Node v16

We should update to use Node v18 LTS (https://nodejs.org/en/about/releases/) for dev/building JS assets

[2022-06-27 23:14] #904 closed

[2022-07-06 16:06] markphelps opened #929 "Switch to Vite JS for Asset Dev/Building"
https://vitejs.dev/

[2022-07-06 16:06] #929 closed

[2022-07-06 16:06] markphelps opened #930 "Automate Release"
Should automate the entire release process with CI instead of having to do manually.

Current release process entails:

- [ ] Create release branch `releases/1.x`
- [ ] Update Changelog.md
- [ ] Update [Helm chart version](https://github.com/markphelps/flipt/blob/master/deploy/charts/flipt/Chart.yaml)
- [ ] Commit/Push/Merge release branch
- [ ] Login to ghcr.io `echo $GITHUB_TOKEN | docker login

[2022-07-06 18:43] markphelps opened #931 "Upgrade to Go 1.18"
Upgrade Dockerfiles, build and all workflows to use go 1.18

[2022-07-12 07:38] AyWa opened #935 "Cache improvement: ListFlags"
**Describe the bug**

* `ListFlags` should be cache by flipt when `cache is enable`. Right now it will [always call the storage](https://github.com/markphelps/flipt/blob/06aa76d28970a6b8fe533ba098b91ff7ad01cd74/storage/cache/flag.go#L53)
* When a key is not in storage, it seems we defer to the [underlying storage](https://github.com/markphelps/flipt/blob/main/storage/cache/flag.go#L38), so if ther

[2022-07-12 14:22] markphelps opened #936 "Update to use token based pagination for forward compatability"
**Is your feature request related to a problem? Please describe.**

~~Currently there are no default or enforced limits for requests that return multiple objects in their response, such as ListFlags, ListSegments or BatchEvaluate calls.~~

~~This creates a risk of crashing the server if a user has more resources than will fit in memory if they call/use one of these endpoints.~~

~~It also prevents

[2022-07-12 18:57] markphelps commented on #318
Im going to close this for now and keep it labeled as v2 as it would require a breaking change to the public API. Will re-evaluate for the next major version

[2022-07-13 01:26] AyWa commented on #935
@markphelps Sounds good !

Yeah thats true that it could be a problem, I agree that setting a default + max batch size might help to ensure we dont overflow the cache !

[2022-07-21 17:48] markphelps commented on #633
@ZombieMInd I know its been forever but I finally have a PR up #954 !! Would love it if you are able to take a look as well

[2022-07-25 09:31] ognif opened #963 "Wired flipt.db init"
flipt:latest
kubernets cluster

If I start flipt in our cluster without any modification, the flipt service starts without any problem. After looking into /var/opt/flipt there is a file flipt.db.
Doing the same with a mounted  pvc/volume, flipt is starting with an error.

[code]
Using an init container I see hat the flipt.db is not existing while startup the container. It looks like the flipt.db f

[2022-07-25 13:55] #633 closed

[2022-07-25 14:11] markphelps opened #964 "Migrate to a different logger"
Sadly it is time to say goodbye to [logrus](https://github.com/sirupsen/logrus) as it has been put in maintenance mode by its creator.

I'm thinking of moving the internal logger to something like [zap](https://github.com/uber-go/zap) as I've used it in the past and enjoyed it, however I'm open to other suggestions!

Main thing is though that I dont want to change the log format too much during th

[2022-07-25 19:46] markphelps commented on #963
@ognif thanks for the issue! i'll try to reproduce and see if I can come up with a fix. Can you share part of your pvc/volume k8s config so that I could potentially reproduce?

Are you using the [helm chart](https://flipt.io/docs/installation#kuberneteshelm) or just normal k8s config? (the helm chart would likely have the same problem but just wanted to double check)

[2022-07-25 20:13] ognif commented on #963
@markphelps I have added a zip file with my version of the helm flipt chart.
You may have to change some settings from fliptvalues.yaml
The fliptvalues.yaml contain a part of persitent volume, if I disable this, flipt works well. If I enable it, the reported error message will pop up. The way I used the pvc/volue is how I use in many helm charts here, so I assume it have to work.
[flipt_ingo.zip](

[2022-07-26 13:57] ZombieMInd commented on #633
@ZombieMInd Sorry for my disappearing. You did great work! I love it! Looking forward to new features in this project

[2022-07-26 15:04] markphelps commented on #963
@ognif I have a PR up in the helm-charts repo to support PV/C. Let me know if you think it would work for you https://github.com/flipt-io/helm-charts/pull/2

[2022-07-26 22:33] ognif commented on #963
@markphelps thank you for your pr but please explain what this helm pr will solve the software bug?
Your helm chart will do the same like mine. Create a longhorn pvc storage but the final error keep the same:
You are currently running the latest version of Flipt [1.9.0]!
[code]
As written before, I think it is a bug inside the software because the software will not write the flipt.db to the mounte

[2022-07-26 22:46] markphelps commented on #963
My apologies. Previously the Flipt helm chart was not even accounting for persistent volumes because it was not mounting them to the correct location in the container `/var/opt/flipt`. This is where the default flipt.db goes if running with SQLite.

I will try to use the latest version of the chart tonight and use the longhorn storage class like yours. Then I will be able to more easily see why it

[2022-07-27 08:44] ognif commented on #963
@markphelps I have the exact same problem with Azure managed-premium storage class.

[2022-07-27 13:04] markphelps commented on #963
@ognif what are the permissions on your mounted volume/path?

I tried running flipt and mounting a volume on my local machine with the following:

[code]

And it ran fine. The `$HOME/flipt` directory did not exist before me running this.

Here are the permissions of that folder:

[code]

I wonder if you may be running into permissions issues creating this file because the user that runs Flipt in t

[2022-07-27 18:53] markphelps commented on #633
Thanks @ZombieMInd and no worries. [v1.10.0](https://github.com/flipt-io/flipt/releases/tag/v1.10.0) is out with Redis cache support. https://flipt.io/docs/configuration#cache

LMK what you think!

[2022-07-27 18:59] markphelps commented on #293
shouldfix

[2022-07-27 23:16] ognif commented on #963
The daily discussion "But it works local". After all, Kubernetes is not local. So I ask you to test your software in a Kubernetes cluster. Persistence is inevitable inside a cluster.

[2022-07-28 00:14] markphelps commented on #963
i'll ask again:

@ognif what are the permissions on your mounted volume/path?

I asked you to provide me some basic information on how you are running Flipt in your k8s cluster. You sent me one yaml file with some of the values. Here are the relevant onces you sent me:

[code]

That doesn't give me much to go on as I have no info about your pvc/pv. I apologize that I am not an expert in your speci

[2022-07-28 00:18] markphelps commented on #963
Again, my apologies. Somehow I only saw the `fliptvalues.yml` in the .zip you sent me. I now see that there is more to help me debug.

[2022-07-28 00:55] markphelps commented on #963
@ognif could you do me a favor and run with the `log.level` set to `DEBUG` and attach the log output? You can either set this in the configmap like:

[code]

or set it as an environment variable for the container using `FLIPT_LOG_LEVEL=DEBUG`

When flipt starts up it checks to see if any DB migrations need to be performed, and on first run (or if flipt.db doesnt exist when running with SQLite) it

[2022-07-28 23:24] #682 closed

[2022-07-28 23:25] #174 closed

[2022-08-01 14:01] markphelps opened #975 "Support CockroachDB"
### Problem

[cockroachDB](https://github.com/cockroachdb/cockroach) uses the same wire protocol as Postgres, so the application code _should_ not require any update to support it.

### Ideal Solution

Describe the solution you'd like:

- [ ] Add CockroachDB as a supported backend DB storage protocol
- [ ] Support configuring cockroachDB in the config.yml
- [ ] Add example on how to run Flipt with

[2022-08-25 13:30] daxartio opened #992 "Json log formatter"
### Problem

I want to configure log formatter of server, for example, use json formate in log output.

### Ideal Solution

From env to receive log format and to configure logrus.

[code]

[2022-08-26 07:12] AyWa opened #993 "Postgres sql failure on 1.9.0 and 1.10.0"
### Describe the Bug

We are running flipt in k8s in multiples environment:
* locally using rancher desktop k8s.
* in gcp

we are in `1.8.3` and everything is working well, but when we try to update to `1.9.0` or `1.10.0` (even on a new db), we got error.

`getting db driver for: postgres: dial tcp: lookup postgres.database.svc.cluster.local: device or resource busy`

### Version Info

`1.8.2` ->

[2022-08-26 11:24] markphelps commented on #992
thanks @daxartio , I agree this would be a great feature. I'm actually looking into replacing logrus with zap or similar #964, so I wonder if it would make sense to implement this as part of that work?

[2022-08-26 11:25] markphelps commented on #993
Thanks for the detailed bug report @AyWa !

Taking a 👀 . Im actually out of town this weekend but will try to provide an update in the next couple days.

[2022-08-26 11:34] AyWa commented on #993
Thank you, it is not really urgent, I will also try to reproduce outside our environment (maybe just docker compose or simple k8s)

[2022-08-26 12:07] markphelps commented on #993
Cool, in the mean time I bumped the postgres example (using docker-compose) and the integration tests to use postgres 12 instead of the old postgres 10 to see if that exposes anything

[2022-08-26 12:24] daxartio commented on #964
Yeah, good!

[2022-08-26 12:24] daxartio commented on #992
Yeah, good!

[2022-08-28 12:57] markphelps commented on #993
FYI i've traced it to the migration check that automatically runs on Flipt startup:

https://github.com/flipt-io/flipt/blob/main/storage/sql/migrator.go#L42

I wonder if something changed in the underlying 'github.com/golang-migrate/migrate/database/postgres' library between versions that is causing this error. Going to keep digging in this coming week

[2022-08-28 13:40] AyWa commented on #993
This bug seems to be little tricky. In docker compose everything works like:
[code]

However, on k8s, I can reproduce.
[code]

I think this working example is correct, because if I set image `flipt/flipt:v1.8.3` it is working but not `flipt/flipt:v1.9.0`.
Does the docker build is same as before ? the only difference I can see is the dns in k8s that is a bit different 🤔

[2022-08-29 02:14] AyWa commented on #993
So I tried something else today: If I deploy the db and flipt in the same namespace and so the db connection string can be change to: `postgres://postgres:example@db:5432/flipt?sslmode=disable` then it is working !

So I think there is an issue in the docker image about the DNS resolve like `db.db.svc.cluster.local`

[2022-08-29 12:52] markphelps commented on #993
That looks promising thank you for digging in! I will be able to take a deeper dive tomorrow am. I think the problem may lie in the migrator library I linked earlier.

[2022-08-29 12:53] markphelps commented on #993
Likely related to #963 as well

[2022-08-29 12:56] markphelps commented on #963
@ognif can you try downgrading to v1.8.3 to see if it resolves your problem? Seems something changed in 1.9.0 that I need to debug. See #993

[2022-08-30 16:04] GeorgeMac commented on #993
👋 This is likely to do with how `flipt` is now being built statically in `v1.9.0`.

(here perhaps https://github.com/flipt-io/flipt/commit/85088dbf9737899340a3ef15336467352cc6b1b2#diff-cd2d359855d0301ce190f1ec3b4c572ea690c83747f6df61c9340720e3d2425eR56)

see: https://github.com/segmentio/kafka-go/issues/285 and https://github.com/golang/go/issues/35067

Meanwhile, try dropping the `.cluser.local`

[2022-08-30 16:52] markphelps commented on #993
Thanks @GeorgeMac !! I think this may have broken when I switched how Flipt is built for release.

Pre #927 I was building locally, using musl to cross-compile to linux (statically linked). In #927 I changed over to using github actions to build/release (see:  https://github.com/flipt-io/flipt/pull/927/files#diff-42e26dc67aed8aa3edb2472b4403288c1699fb6dc47419b9a475f0f224fe4689).

I wonder if I nee

[2022-09-01 00:45] markphelps commented on #993
I created #1001 to address.

I'm actually having a hard time reproducing/verifying the fix however because of the move to building everything in CI. I need to build on a linux machine (to reproduce how [GH Actions is building](https://github.com/flipt-io/flipt/actions/runs/2747396561/workflow)) and the only linux machine I have available locally is a Ubuntu VM running in [UTM](https://mac.getutm.a

[2022-09-01 07:43] AyWa commented on #993
I am actually running on a m1 mac too, but I could try to build the image on a vm tomorrow and see if it is working

[2022-09-01 08:49] GeorgeMac commented on #993
My suggestion would probably be in the 1/2 space.
I would get Actions to do the building for you and publish it somewhere.

The other option might be to play with an alternative base image to replicate it.
i.e. instead of depending on the host as the base for the build, copy the source into e.g. an ubuntu base image, build from there and copy from that base into the alpine target.

[2022-09-01 12:11] GeorgeMac commented on #993
First things first. Here is an adjusted version of `build/Dockerfile` which creates a representative build process.
I took this image and recreated the problem with it in `kind`:

[code]

Then I did the following to validate the error can be reproduced and is fixed by `netgo` tag:

1. Replace `build/Dockerfile` with the contents above.
2. Run `docker buildx build -f ./build/Dockerfile .`
3. Take t

[2022-09-01 13:47] markphelps commented on #993
Thanks @GeorgeMac for validating the fix! Great idea of building in the container.

@AyWa I went ahead and backported the fix for 1.9 and created v1.9.1 as well as forward fixed for 1.10 (v1.10.1).

Would you mind giving either v1.9.1 or v1.10.1 a try and see if they now work for you?

[2022-09-01 14:00] cosmic-flood opened #1002 "discord community invitation link is not avaliable anymore"
### Describe the Bug

discord community invitation link is not avaliable anymore

[2022-09-01 14:47] #1002 closed

[2022-09-01 14:49] AyWa commented on #993
Sure I will try to test locally and in our stg cluster tomorrow. Thx for the quick fix !!

[2022-09-01 17:17] markphelps commented on #1002
fixed! thanks @cosmic-flood for bringing this to my attention and thanks @tsickert for the fix!

[2022-09-01 18:01] markphelps commented on #993
Can confirm the fix in 1.9.1 when updating the yaml provided by @AyWa to use v1.9.1 of the image:

[code]

[2022-09-02 03:41] AyWa commented on #993
It is perfectly working !!! thank you

[2022-09-02 03:57] #993 closed

[2022-09-07 01:50] z0mb1ek commented on #975
+1

[2022-09-07 02:03] markphelps commented on #975
Coming soon

[2022-09-07 16:00] #931 closed

[2022-09-08 09:51] GeorgeMac commented on #779
👋 Just throwing in two cents here. Went through something similar recently (JWT-based auth for session logic).

OWASP advises the `HttpOnly` attribute on cookies.

https://cheatsheetseries.owasp.org/cheatsheets/Session_Management_Cheat_Sheet.html#httponly-attribute

This protects consumers with client-side vulnerabilities from accessing the contents of the cookie via the DOM.
However, this means t

[2022-09-08 13:59] GeorgeMac commented on #779
Follow-up suggestion would be to do OIDC.

OAuth is historically for delegation Authorization.
Where OIDC is the extension to OAuth for supporting specifically authentication concerns.

Supporting this would open doors to like Okta, Auth0, ORY, Dex and other OIDC providers.

[2022-09-08 15:00] markphelps commented on #779
I think we'd like to support 2-3 logins via external identity providers out of the box, ranked in order of (my) perceived need:

1. GitHub
2. Google
3. Gitlab

I dont believe GitHub supports OIDC for login directly, althought it seems [Google does](https://developers.google.com/identity/protocols/oauth2/openid-connect)

[2022-09-08 16:19] GeorgeMac commented on #779
Yes, Google does. Perhaps doing Google via OIDC would be a beneficial endeavour.

[2022-09-12 11:19] #964 closed

[2022-09-14 13:33] #992 closed

[2022-09-15 15:57] GeorgeMac commented on #936
Food for thought: gRPC docs advise the use of `page_token` and `next_page_token`:
https://cloud.google.com/apis/design/design_patterns#list_pagination

Sage advice. Since, this can allow different storage backends to potentially alter the pagination mechanism.

While a relative offset might be useful for one backend, an ID offset might be more appropriate in another.

[2022-09-15 16:42] markphelps commented on #936
Love it. Great idea/advice. Much better to follow Google's best practices than trying to come up / use my own scheme. Will change the branch Im working on to use tokens instead of `limit/offset`

[2022-09-19 16:35] ognif opened #1035 "Configuration with postgress not working"
I try to install Flipt with your helm charts. I put everything from your config site to the config.yaml.

[code]
Flipt will not connect to the postgress database. Also inside the POD log there is not one line about the database used or connections issues or whatever. It looks like the settings get ignored.

If I start a flipt container on Azure and set Environmebt variables:

[code]
It works like

[2022-09-19 17:23] markphelps commented on #1035
@ognif try removing `url` from the config .yaml

[code]

It should look like this:

[code]

`url` takes precedence over `host` and `port` for the DB config: https://flipt.io/docs/configuration#database

Also `ALL` is not a valid log level, the valid log levels are `trace, debug, info, warn, error, fatal, panic`

Try setting the log level to `debug`

[2022-09-19 17:29] markphelps commented on #1035
Also it seems you are using an out of date version. I would recommend upgrading to the latest release [v1.11.0](https://github.com/flipt-io/flipt/releases/tag/v1.11.0) if possible. I had to change the Docker repository namespace after 1.9.0 so you may need to update your helm chart to point to `flipt/flipt:latest` instead of `markphelps/flipt:latest` for it to find the newer versions.

[2022-09-19 17:45] ognif commented on #1035
Thank you for your fast answer. I tried with removing url from config.yaml but no difference.
The output of debug ist:

[code]

With successfull connected DB also no info about the database

[code]

next one I have set the FLIPT_LOG_LEVEL Environmentvar:

[code]

so finaly I think it is the prove that the config.yaml is ignore, but why?

[2022-09-19 17:48] ognif commented on #1035
Because I have a Postgres managed server and a config.yaml in the configmap of the cluster, I have disabled the pvc option.

[2022-09-19 17:59] markphelps commented on #1035
Thanks @ognif for the detailed response. Will try to reproduce on my end and will get back to you ASAP

[2022-09-19 18:40] markphelps commented on #1035
@ognif I was able to verify it is an issue with the helm chart not mounting the configmap to the correct volume mountpoint on the pod.

I think I have a fix here: https://github.com/flipt-io/helm-charts/pull/9

Apologies for the issue, im working on better testing helm/k8s deploys of Flipt (i'm still a helm noob at the moment)

[2022-09-25 02:53] #963 closed

[2022-09-27 17:12] markphelps commented on #1035
Marking as closed as I reproduced and confirmed the fix with the lastest helm chart version. Feel free to re-open if still an issue

[2022-09-27 17:12] #1035 closed

[2022-09-30 01:22] markphelps opened #1046 "Context parse error should not return 500 response"
### Describe the Bug

When testing via https://try.flipt.io, I came across an issue when trying to evaluate a context that contained a field that was trying to be parsed as a boolean `x`, which obviously cant be parsed as a bool. This was resulting in a 500 response being return from the API (REST).

The evaluation console also showed an empty response, instead of displaying the actual error.

###

[2022-09-30 14:43] #1046 closed

[2022-10-03 20:24] markphelps commented on #936
I'm changing this title to simply be 'update to use token based pagination instead of limit/offset' as I realized we cant enforce a default limit (and likely even a max) without it being a breaking API change, requiring a new v2 of the public API.

Since we haven't fully planned out all of the breaking changes in v2 API, Im going to defer on adding a max / default for pagination.

I still think it

[2022-10-04 09:03] GeorgeMac commented on #936
That sounds great. Equally, since the client in the UI is controlled within this project, it is something that can be taken advantage of by the UI immediately.

[2022-10-04 18:31] #576 closed

[2022-10-05 18:13] #936 closed

[2022-10-06 20:47] markphelps opened #1060 "Proposal: Add `flag_enabled` and `variant` (name) to `EvaluationResponse`"
While looking at implementing an [OpenFeature provider](https://docs.openfeature.dev/docs/specification/sections/providers) for Flipt I've found a few areas where the `EvaluationResponse` doesn't always return 'enough' info to determine why a request has failed or not matched.

One scenario is if the flag is disabled:

https://github.com/flipt-io/flipt/blob/301ee60e54679f5121fe4bef354e91ff21666edd

[2022-10-14 15:24] #975 closed

[2022-10-21 03:39] #732 closed

[2022-10-22 12:02] josebalius opened #1084 "Initializing go modules fails"
### Describe the Bug

`go get` fails when trying to download modules

### Version Info

`main` branch as of: https://github.com/flipt-io/flipt/commit/3d9b67defad88237030f01e7f39de27f573785ae

### To Reproduce

1. Clone repo
2. Run `go get`
3. It fails with:
[code]

### Expected Behavior

`go get` works

### Additional Context

I could be missing some other way of initializing the project?

Example

[2022-10-22 12:08] josebalius commented on #1084
Looks like maybe the cockroachdb release was deleted.

This is an indirect dependency through: https://github.com/golang-migrate/migrate

Perhaps we should upgrade to 4.0.0 😬 : https://github.com/golang-migrate/migrate/releases/tag/v4.0.0

[2022-10-24 18:15] markphelps commented on #1084
Thanks @josebalius!

I think it's a good idea to bump go-migrate to something more recent! Working on a PR now

As far as bootstrapping, I usually run `task bootstrap` from the repo root: https://github.com/flipt-io/flipt/blob/main/DEVELOPMENT.md#setup

Odd that `go get` fails however I haven't tried to re-bootstrap in a while

[2022-10-26 11:10] josebalius commented on #1084
I think we need to keep bumping, looks like v4 has issues as well through indirect dependencies:
[code]

[2022-10-28 14:08] markphelps commented on #1084
Going to mark this closed as #1100 should have fixed this. lmk if its still an issue/feel free to reopen

[2022-10-28 14:08] #1084 closed

[2022-11-23 14:32] markphelps opened #1155 "Telemetry should not warn if .config directory is not writable"
### Describe the Bug

From [discord](https://discord.com/channels/960634591000014878/960697263150227510/1044876709054394450):

### Version Info

Run `flipt --version` and paste the output here:

### To Reproduce

Run Flipt with telemetry enabled with a non-writable (read-only)`./config` directory

### Expected Behavior

Should just disable telemetry if the directory is not writable

### Additional

[2022-11-26 19:20] #1155 closed

[2022-11-27 15:23] zamazan4ik opened #1164 "[FLI-92] Document supported hardware architectures"
Hi!

I have checked the documentation but did not find any word about supported architectures.

Could you please put the information about supported architectures in the documentation please? E.e. about supported architectures for different operating systems, some specific requirements to the supported instructions, if you have any (e.g. maybe AVX is required - I do not know).

This kind of inform

[2022-11-27 15:50] zamazan4ik opened #1165 "[FLI-96] Document Grafana dashboards"
### Problem

Is your feature request related to a problem? Please describe:

Flipt provides a set of metrics: https://www.flipt.io/docs/configuration#metrics . However, for the end-users is much easier to use already provided Grafana dashboards (and in some cases just tweak them a little bit).

### Ideal Solution

Describe the solution you'd like:

Add Flipt-provided Grafana dashboards.

<sub>[FLI

[2022-11-27 15:57] markphelps commented on #1165
Hi @zamazan4ik ! Thanks for the issue! We just recently created https://github.com/flipt-io/grafana-dashboards. Does this cover your use case?

We are planning to blog/post about it early next week!

[2022-11-27 16:01] zamazan4ik commented on #1165
Yeah, looks pretty good! Would be awesome to see this information in the documentation. Thank you.

[2022-11-27 16:44] zamazan4ik opened #1166 "[FLI-93] Document Highly-Available (HA) setup"
After reading the documentation about the project architecture (https://www.flipt.io/docs/architecture) it is not clear to me, how could I perform Flipt HA setup. I have questions like:
- Could I install Flipt in cluster mode (multiple nodes in one installation)?
- If yes, how Flipt works if one node goes down? is there any (semi)automatic failover or not?

Similar questions regarding scaling - ho

[2022-11-27 16:49] zamazan4ik opened #1167 "[FLI-94] Document upgrade/downgrade processes"
After reading the documentation I have the following questions regarding upgrade/downgrade processes:
- How the upgrade should be performed?
- Is it possible to upgrade without downtime?
- How the downgrade should be performed? Is downgrade processes supported
- Is it possible to downgrade without downtime?
- Also, could be quite useful to know about compatibility guarantees between releases

<sub

[2022-11-27 16:50] zamazan4ik opened #1168 "Document backup/restore procedures"
Yet another documentation-related issue :)

Backup and restore are important operations in such a system as Flipt. Could you please describe in the documentation, how backup and restore should be performed for Flipt?

Thanks in advance!

[2022-11-27 19:44] markphelps commented on #1166
Its like you are reading our minds @zamazan4ik ! This, #1167 and #1168 are all apart of our documentation improvements that we have planned. Will keep this open, but expect these additions to the documentation soon!

[2022-11-27 19:46] zamazan4ik commented on #1166
Maybe :) Do you have a public-available roadmap for the documentation? Just to compare my own questions with your roadmap and prevent "spamming" extra issues :)

[2022-11-27 19:55] markphelps opened #1169 "[FLI-23] Support Memcached"
Now that Redis has been rolled out, it should be relatively simple to support another cache tech like Memcached

### TODO

* [ ] Add memcached as a supported caching protocol
* [ ] Support configuring memcached in the config.yml
* [ ] Add example on how to run Flipt with Memcached [Example with Docker Compose](https://gist.github.com/dbist/ebb1f39f580ad9d07c04c3a3377e2bff)

<sub>From [SyncLinear.c

[2022-11-27 20:07] markphelps commented on #1166
No public docs roadmap, but we're basically thinking of splitting the docs into two subsections, one for 'operators' who are in charge or installing/running Flipt and keeping it up to date, and another for 'users' who may not set it up, but will integrate with it. This may end up being the same person, but depends on the org.

Here's the general thinking:

[code]

Would love to know what other doc

[2022-11-27 20:24] zamazan4ik commented on #1166
Just want to add a note about downgrade support as well. It is quite important for the users in case if something goes wrong during the update process.

[2022-11-30 19:37] markphelps opened #1186 "[FLI-99] Ensure only JSON output is sent to STDOUT/STDERR if json log format enabled"
![image.png](https://uploads.linear.app/d3f9d655-7ab0-49e9-ade8-b59504819c07/0898bfb4-24bb-4e20-84e2-199e2076528c/59c5638d-eb84-4198-b33e-62e38efa5469)

See the `You are currently…` line when is not in JSON log format

<sub>From [SyncLinear.com](https://synclinear.com) | [FLI-99](https://linear.app/flipt/issue/FLI-99/ensure-only-json-output-is-sent-to-stdoutstderr-if-json-log-format)</sub>